![download.png](download.png)

## Import Packages

In [4]:
#Import Python packages
import pandas as pd
import plotly.express as px
import json
import sys
import cachetools
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import numpy as np
import json

# Import Snowflake modules
from snowflake.snowpark import Session
import snowflake.snowpark.functions as F
import snowflake.snowpark.types as T
from snowflake.snowpark import Window

## Connect to Snowflake

In [14]:
# Get account credentials from a json file
with open("data_scientist_auth.json") as f:
    data = json.load(f)
    username = data["username"]
    password = data["password"]
    account = data["account"]

# Specify connection parameters
connection_parameters = {
    "account": account,
    "user": username,
    "password": password,
    "role": "tasty_data_scientist",
    "warehouse": "tasty_ds_wh",
    "database": "frostbyte_tasty_bytes",
    "schema": "analytics",
}

# Create Snowpark session
session = Session.builder.configs(connection_parameters).create()

## Gathering Data as Snowpark DataFrame

In [15]:
#Orders_V
tasty_bytes_orders_v = session.table("frostbyte_tasty_bytes.analytics.orders_v")
#Customer Loyalty
tasty_bytes_customer_loyalty = session.table("frostbyte_tasty_bytes.raw_customer.customer_loyalty")

## Preview The Data

In [18]:
tasty_bytes_orders_v.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"DATE"      |"ORDER_ID"  |"TRUCK_ID"  |"ORDER_TS"           |"ORDER_DETAIL_ID"  |"LINE_NUMBER"  |"TRUCK_BRAND_NAME"  |"MENU_TYPE"  |"PRIMARY_CITY"  |"REGION"                 |"COUNTRY"  |"FRANCHISE_FLAG"  |"FRANCHISE_ID"  |"FRANCHISEE_FIRST_NAME"  |"FRANCHISEE_LAST_NAME"  |"LOCATION_ID"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"E_MAIL"  |"PHONE_NUMBER"  |"CHILDREN_COUNT"  |"GENDER"  |"MARITAL_STATUS"  |"MENU_ITEM_ID"  |"MENU_ITEM_NAME"            |"QUANTITY"  |"UNIT_PRICE"  |"PRICE"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|2022-10-02  |67233239    |200         |2022-10-02 13:12:43  |181474383          |2              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |53              |Tonkotsu Ramen              |1           |17.2500       |17.2500  |112.5000        |NULL                |NULL                     |112.5000       |
|2022-10-02  |67233239    |200         |2022-10-02 13:12:43  |181474382          |1              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |52              |Spicy Miso Vegetable Ramen  |4           |17.2500       |69.0000  |112.5000        |NULL                |NULL                     |112.5000       |
|2022-10-02  |67233239    |200         |2022-10-02 13:12:43  |181474381          |0              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |51              |Creamy Chicken Ramen        |1           |17.2500       |17.2500  |112.5000        |NULL                |NULL                     |112.5000       |
|2022-10-02  |67233239    |200         |2022-10-02 13:12:43  |181474384          |3              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |54              |Bottled Water               |3           |2.0000        |6.0000   |112.5000        |NULL                |NULL                     |112.5000       |
|2022-10-02  |67233239    |200         |2022-10-02 13:12:43  |181474385          |4              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |56              |Ice Tea                     |1           |3.0000        |3.0000   |112.5000        |NULL                |NULL                     |112.5000       |
|2022-10-02  |67233243    |200         |2022-10-02 13:25:42  |181474394          |0              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |53              |Tonkotsu Ramen              |2           |17.2500       |34.5000  |34.5000         |NULL                |NULL                     |34.5000        |
|2022-10-02  |67233301    |200         |2022-10-02 17:09:16  |181474539          |0              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |10162          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |56              |Ice Tea                     |2           |3.0000        |6.0000   |95.2500         |NULL                |NULL                     |95.2500        |
|2022-10-02  |67233301    |200         |2022-10-02 17:09:16  |181474540          |1              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |10162          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |51              |Creamy Chicken Ramen        |4           |17.2500       |69.0000  |95.2500         |NULL                |NULL                     |95.2500        |
|2022-10-02  |67233301    |200         |2022-10-02 17:09:16  |181474541          |2              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |10162          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |53              |Tonkotsu Ramen              |1           |17.2500       |17.2500  |95.2500         |NULL                |NULL                     |95.2500        |
|2022-10-02  |67233301    |200         |2022-10-02 17:09:16  |181474542          |3              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |10162          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |55              |Bottled Soda                |1           |3.0000        |3.0000   |95.2500         |NULL                |NULL                     |95.2500        |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [19]:
tasty_bytes_customer_loyalty.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"          |"COUNTRY"  |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"     |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"                  |"PHONE_NUMBER"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1              |Rodolfo       |Tucker       |Hamburg         |Germany    |21129          |German                |Female       |NULL               |Single            |0                 |2019-02-19      |1953-12-01       |Rodolfo.Tucker@ymail.com  |007-506-6068    |
|2              |Karla         |Mullen       |Rio de Janeiro  |Brazil     |22753-000      |Portuguese            |Male         |NULL               |Single            |0                 |2019-10-07      |1973-09-21       |Karla.Mullen@hotmail.com  |431-122-6142    |
|3              |Cortez        |Douglas      |Krakow          |Poland     |31-5           |Polish                |Female       |NULL               |Married           |2                 |2020-09-11      |2000-09-04       |Cortez.Douglas@gmail.com  |157-518-3848    |
|4              |Janiya        |Pope         |Krakow          |Poland     |31-5           |Polish                |Female       |NULL               |Single            |1                 |2021-09-09      |1950-03-05       |Janiya.Pope@ymail.com     |872-718-6879    |
|5              |Zaiden        |Knapp        |Barcelona       |Spain      |08013          |English               |Female       |NULL               |Married           |1                 |2022-06-17      |1978-10-29       |Zaiden.Knapp@hotmail.com  |545-152-4832    |
|6              |Micah         |Beard        |Hamburg         |Germany    |21129          |German                |Male         |NULL               |Single            |0                 |2021-06-02      |1969-08-17       |Micah.Beard@aol.com       |535-753-3461    |
|7              |Ricardo       |Byrd         |Barcelona       |Spain      |08013          |English               |Male         |NULL               |Undisclosed       |Undisclosed       |2020-09-29      |1961-12-23       |Ricardo.Byrd@aol.com      |138-082-1391    |
|8              |Marie         |Boyer        |Hamburg         |Germany    |21129          |German                |Female       |NULL               |Single            |0                 |2021-04-08      |1960-07-12       |Marie.Boyer@aol.com       |587-006-4451    |
|9              |Josie         |Glass        |Stockholm       |Sweden     |6206           |Swedish               |Male         |NULL               |Single            |0                 |2020-10-30      |1970-09-11       |Josie.Glass@hotmail.com   |023-863-4028    |
|10             |Korbin        |Ward         |Cairo           |Egypt      |00000          |Arabic                |Undisclosed  |NULL               |Single            |0                 |2020-06-04      |1989-05-27       |Korbin.Ward@gmail.com     |049-196-8102    |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Data Exploration