![download.png](download.png)

## Import Packages

In [4]:
#Import Python packages
import pandas as pd
import plotly.express as px
import json
import sys
import cachetools
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import numpy as np
import json

# Import Snowflake modules
from snowflake.snowpark import Session
import snowflake.snowpark.functions as F
import snowflake.snowpark.types as T
from snowflake.snowpark import Window

## Connect to Snowflake

In [14]:
# Get account credentials from a json file
with open("data_scientist_auth.json") as f:
    data = json.load(f)
    username = data["username"]
    password = data["password"]
    account = data["account"]

# Specify connection parameters
connection_parameters = {
    "account": account,
    "user": username,
    "password": password,
    "role": "tasty_data_scientist",
    "warehouse": "tasty_ds_wh",
    "database": "frostbyte_tasty_bytes",
    "schema": "analytics",
}

# Create Snowpark session
session = Session.builder.configs(connection_parameters).create()

## Gathering Data as Snowpark DataFrame

In [15]:
#Orders_V
tasty_bytes_orders_v = session.table("frostbyte_tasty_bytes.analytics.orders_v")
#Customer Loyalty
tasty_bytes_customer_loyalty = session.table("frostbyte_tasty_bytes.raw_customer.customer_loyalty")

## Preview The Data

In [18]:
tasty_bytes_orders_v.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"DATE"      |"ORDER_ID"  |"TRUCK_ID"  |"ORDER_TS"           |"ORDER_DETAIL_ID"  |"LINE_NUMBER"  |"TRUCK_BRAND_NAME"  |"MENU_TYPE"  |"PRIMARY_CITY"  |"REGION"                 |"COUNTRY"  |"FRANCHISE_FLAG"  |"FRANCHISE_ID"  |"FRANCHISEE_FIRST_NAME"  |"FRANCHISEE_LAST_NAME"  |"LOCATION_ID"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"E_MAIL"  |"PHONE_NUMBER"  |"CHILDREN_COUNT"  |"GENDER"  |"MARITAL_STATUS"  |"MENU_ITEM_ID"  |"MENU_ITEM_NAME"            |"QUANTITY"  |"UNIT_PRICE"  |"PRICE"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|2022-10-02  |67233239    |200         |2022-10-02 13:12:43  |181474383          |2              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |53              |Tonkotsu Ramen              |1           |17.2500       |17.2500  |112.5000        |NULL                |NULL                     |112.5000       |
|2022-10-02  |67233239    |200         |2022-10-02 13:12:43  |181474382          |1              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |52              |Spicy Miso Vegetable Ramen  |4           |17.2500       |69.0000  |112.5000        |NULL                |NULL                     |112.5000       |
|2022-10-02  |67233239    |200         |2022-10-02 13:12:43  |181474381          |0              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |51              |Creamy Chicken Ramen        |1           |17.2500       |17.2500  |112.5000        |NULL                |NULL                     |112.5000       |
|2022-10-02  |67233239    |200         |2022-10-02 13:12:43  |181474384          |3              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |54              |Bottled Water               |3           |2.0000        |6.0000   |112.5000        |NULL                |NULL                     |112.5000       |
|2022-10-02  |67233239    |200         |2022-10-02 13:12:43  |181474385          |4              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |56              |Ice Tea                     |1           |3.0000        |3.0000   |112.5000        |NULL                |NULL                     |112.5000       |
|2022-10-02  |67233243    |200         |2022-10-02 13:25:42  |181474394          |0              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |53              |Tonkotsu Ramen              |2           |17.2500       |34.5000  |34.5000         |NULL                |NULL                     |34.5000        |
|2022-10-02  |67233301    |200         |2022-10-02 17:09:16  |181474539          |0              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |10162          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |56              |Ice Tea                     |2           |3.0000        |6.0000   |95.2500         |NULL                |NULL                     |95.2500        |
|2022-10-02  |67233301    |200         |2022-10-02 17:09:16  |181474540          |1              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |10162          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |51              |Creamy Chicken Ramen        |4           |17.2500       |69.0000  |95.2500         |NULL                |NULL                     |95.2500        |
|2022-10-02  |67233301    |200         |2022-10-02 17:09:16  |181474541          |2              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |10162          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |53              |Tonkotsu Ramen              |1           |17.2500       |17.2500  |95.2500         |NULL                |NULL                     |95.2500        |
|2022-10-02  |67233301    |200         |2022-10-02 17:09:16  |181474542          |3              |Kitakata Ramen Bar  |Ramen        |Krakow          |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |10162          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |55              |Bottled Soda                |1           |3.0000        |3.0000   |95.2500         |NULL                |NULL                     |95.2500        |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [19]:
tasty_bytes_customer_loyalty.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"          |"COUNTRY"  |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"     |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"                  |"PHONE_NUMBER"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1              |Rodolfo       |Tucker       |Hamburg         |Germany    |21129          |German                |Female       |NULL               |Single            |0                 |2019-02-19      |1953-12-01       |Rodolfo.Tucker@ymail.com  |007-506-6068    |
|2              |Karla         |Mullen       |Rio de Janeiro  |Brazil     |22753-000      |Portuguese            |Male         |NULL               |Single            |0                 |2019-10-07      |1973-09-21       |Karla.Mullen@hotmail.com  |431-122-6142    |
|3              |Cortez        |Douglas      |Krakow          |Poland     |31-5           |Polish                |Female       |NULL               |Married           |2                 |2020-09-11      |2000-09-04       |Cortez.Douglas@gmail.com  |157-518-3848    |
|4              |Janiya        |Pope         |Krakow          |Poland     |31-5           |Polish                |Female       |NULL               |Single            |1                 |2021-09-09      |1950-03-05       |Janiya.Pope@ymail.com     |872-718-6879    |
|5              |Zaiden        |Knapp        |Barcelona       |Spain      |08013          |English               |Female       |NULL               |Married           |1                 |2022-06-17      |1978-10-29       |Zaiden.Knapp@hotmail.com  |545-152-4832    |
|6              |Micah         |Beard        |Hamburg         |Germany    |21129          |German                |Male         |NULL               |Single            |0                 |2021-06-02      |1969-08-17       |Micah.Beard@aol.com       |535-753-3461    |
|7              |Ricardo       |Byrd         |Barcelona       |Spain      |08013          |English               |Male         |NULL               |Undisclosed       |Undisclosed       |2020-09-29      |1961-12-23       |Ricardo.Byrd@aol.com      |138-082-1391    |
|8              |Marie         |Boyer        |Hamburg         |Germany    |21129          |German                |Female       |NULL               |Single            |0                 |2021-04-08      |1960-07-12       |Marie.Boyer@aol.com       |587-006-4451    |
|9              |Josie         |Glass        |Stockholm       |Sweden     |6206           |Swedish               |Male         |NULL               |Single            |0                 |2020-10-30      |1970-09-11       |Josie.Glass@hotmail.com   |023-863-4028    |
|10             |Korbin        |Ward         |Cairo           |Egypt      |00000          |Arabic                |Undisclosed  |NULL               |Single            |0                 |2020-06-04      |1989-05-27       |Korbin.Ward@gmail.com     |049-196-8102    |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Data Exploration

In [24]:
tasty_bytes_customer_loyalty.group_by(F.col('CITY')).count().to_pandas().sort_values(by='COUNT',ascending=False)

              CITY  COUNT
22       San Mateo  10613
18         Toronto  10476
19          London  10214
23           Tokyo  10117
11   New York City  10016
10        Montreal   9973
12          Warsaw   9299
24          Boston   9261
20          Denver   9122
29          Mumbai   8886
25      Manchester   8430
13          Sydney   8268
14           Seoul   7985
15       Vancouver   7853
21           Paris   7367
16         Seattle   7288
17            Nice   7014
26       Melbourne   6949
27           Delhi   6862
0          Hamburg   6410
4        Stockholm   6192
1   Rio de Janeiro   5840
5            Cairo   5772
9           Munich   5671
7           Madrid   4961
8        Sao Paulo   4917
6        Cape Town   4763
2           Krakow   4757
28          Berlin   3709
3        Barcelona   3555

In [27]:
tasty_bytes_orders_v.group_by(F.col('PRIMARY_CITY')).agg(F.countDistinct('ORDER_ID')).to_pandas().sort_values(by='COUNT(DISTINCT ORDER_ID)',ascending=False)

      PRIMARY_CITY  COUNT(DISTINCT ORDER_ID)
22           Seoul                  15272135
11       Cape Town                  13609418
6        Sao Paulo                  13316682
13           Delhi                  13076336
23   New York City                  12637979
17          Mumbai                  12347809
16          Sydney                  12207198
14           Tokyo                  11762202
4           Madrid                  11668304
21          Berlin                  11342624
5          Toronto                  11221897
12  Rio de Janeiro                  11067957
2           London                  10952641
9        Melbourne                  10713373
0           Warsaw                   8924140
10       Barcelona                   8698293
20           Paris                   7326553
8          Hamburg                   7126649
29        Montreal                   6923181
19          Munich                   6059496
24           Cairo                   5120281
26       Stockholm                   4172895
7           Denver                   4073706
1        Vancouver                   3862410
3          Seattle                   3581572
25          Krakow                   3471028
28          Boston                   3203204
27      Manchester                   2400376
18            Nice                   1477767
15       San Mateo                    583163

In the above code snippets we took a look at the number of unique customers and transactions by cities. We have identified that San Mateo has the highest number of unique customers but the lowest number of transactions which could suggest the highest churn rate.

In [28]:
last_tran_city = tasty_bytes_orders_v.group_by(F.col('PRIMARY_CITY')).max(F.to_date(F.col('ORDER_TS'))).to_pandas()

In [30]:
import datetime

In [32]:
last_tran_city['CHURN_DATE']=last_tran_city['MAX(TO_DATE(ORDER_TS))']-datetime.timedelta(days=14)
last_tran_city['CUSTOMER_COUNT_DATE']=last_tran_city['MAX(TO_DATE(ORDER_TS))']-datetime.timedelta(days=44)

In [33]:
last_tran_city

      PRIMARY_CITY MAX(TO_DATE(ORDER_TS))  CHURN_DATE CUSTOMER_COUNT_DATE
0           London             2022-11-01  2022-10-18          2022-09-18
1        Vancouver             2022-11-01  2022-10-18          2022-09-18
2           Warsaw             2022-11-01  2022-10-18          2022-09-18
3          Seattle             2022-11-01  2022-10-18          2022-09-18
4          Toronto             2022-11-01  2022-10-18          2022-09-18
5           Denver             2022-11-01  2022-10-18          2022-09-18
6           Madrid             2022-11-01  2022-10-18          2022-09-18
7        Sao Paulo             2022-11-01  2022-10-18          2022-09-18
8          Hamburg             2022-11-01  2022-10-18          2022-09-18
9        Melbourne             2022-11-01  2022-10-18          2022-09-18
10       Barcelona             2022-11-01  2022-10-18          2022-09-18
11  Rio de Janeiro             2022-11-01  2022-10-18          2022-09-18
12       Cape Town             2022-11-01  2022-10-18          2022-09-18
13           Delhi             2022-11-01  2022-10-18          2022-09-18
14           Tokyo             2022-11-01  2022-10-18          2022-09-18
15          Mumbai             2022-11-01  2022-10-18          2022-09-18
16          Sydney             2022-11-01  2022-10-18          2022-09-18
17       San Mateo             2022-11-01  2022-10-18          2022-09-18
18            Nice             2022-11-01  2022-10-18          2022-09-18
19          Krakow             2022-11-01  2022-10-18          2022-09-18
20          Berlin             2022-11-01  2022-10-18          2022-09-18
21           Paris             2022-11-01  2022-10-18          2022-09-18
22       Stockholm             2022-11-01  2022-10-18          2022-09-18
23          Munich             2022-11-01  2022-10-18          2022-09-18
24   New York City             2022-11-01  2022-10-18          2022-09-18
25           Cairo             2022-11-01  2022-10-18          2022-09-18
26           Seoul             2022-11-01  2022-10-18          2022-09-18
27      Manchester             2022-11-01  2022-10-18          2022-09-18
28          Boston             2022-11-01  2022-10-18          2022-09-18
29        Montreal             2022-11-01  2022-10-18          2022-09-18

In [37]:
last_tran_city_sdf=session.createDataFrame(last_tran_city)
last_tran_city_sdf.show()

------------------------------------------------------------------------------------
|"PRIMARY_CITY"  |"MAX(TO_DATE(ORDER_TS))"  |"CHURN_DATE"  |"CUSTOMER_COUNT_DATE"  |
------------------------------------------------------------------------------------
|London          |2022-11-01                |2022-10-18    |2022-09-18             |
|Vancouver       |2022-11-01                |2022-10-18    |2022-09-18             |
|Warsaw          |2022-11-01                |2022-10-18    |2022-09-18             |
|Seattle         |2022-11-01                |2022-10-18    |2022-09-18             |
|Toronto         |2022-11-01                |2022-10-18    |2022-09-18             |
|Denver          |2022-11-01                |2022-10-18    |2022-09-18             |
|Madrid          |2022-11-01                |2022-10-18    |2022-09-18             |
|Sao Paulo       |2022-11-01                |2022-10-18    |2022-09-18             |
|Hamburg         |2022-11-01                |2022-10-18    |2022-09-18             |
|Melbourne       |2022-11-01                |2022-10-18    |2022-09-18             |
------------------------------------------------------------------------------------

In [39]:
last_tran_city_sdf_join = last_tran_city_sdf.join(
    right=tasty_bytes_orders_v,
    on="PRIMARY_CITY",
    how="inner"
)

last_tran_city_sdf_join.show()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"PRIMARY_CITY"  |"MAX(TO_DATE(ORDER_TS))"  |"CHURN_DATE"  |"CUSTOMER_COUNT_DATE"  |"DATE"      |"ORDER_ID"  |"TRUCK_ID"  |"ORDER_TS"           |"ORDER_DETAIL_ID"  |"LINE_NUMBER"  |"TRUCK_BRAND_NAME"  |"MENU_TYPE"     |"REGION"                 |"COUNTRY"  |"FRANCHISE_FLAG"  |"FRANCHISE_ID"  |"FRANCHISEE_FIRST_NAME"  |"FRANCHISEE_LAST_NAME"  |"LOCATION_ID"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"E_MAIL"  |"PHONE_NUMBER"  |"CHILDREN_COUNT"  |"GENDER"  |"MARITAL_STATUS"  |"MENU_ITEM_ID"  |"MENU_ITEM_NAME"            |"QUANTITY"  |"UNIT_PRICE"  |"PRICE"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233187    |200         |2022-10-02 12:06:58  |181474248          |1              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |52              |Spicy Miso Vegetable Ramen  |1           |17.2500       |17.2500  |97.2500         |NULL                |NULL                     |97.2500        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233187    |200         |2022-10-02 12:06:58  |181474252          |5              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |56              |Ice Tea                     |2           |3.0000        |6.0000   |97.2500         |NULL                |NULL                     |97.2500        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233187    |200         |2022-10-02 12:06:58  |181474251          |4              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |55              |Bottled Soda                |1           |3.0000        |3.0000   |97.2500         |NULL                |NULL                     |97.2500        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233187    |200         |2022-10-02 12:06:58  |181474250          |3              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |54              |Bottled Water               |1           |2.0000        |2.0000   |97.2500         |NULL                |NULL                     |97.2500        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233187    |200         |2022-10-02 12:06:58  |181474249          |2              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |53              |Tonkotsu Ramen              |1           |17.2500       |17.2500  |97.2500         |NULL                |NULL                     |97.2500        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233187    |200         |2022-10-02 12:06:58  |181474247          |0              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |51              |Creamy Chicken Ramen        |3           |17.2500       |51.7500  |97.2500         |NULL                |NULL                     |97.2500        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233327    |200         |2022-10-02 18:09:07  |181474610          |0              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |10162          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |53              |Tonkotsu Ramen              |1           |17.2500       |17.2500  |17.2500         |NULL                |NULL                     |17.2500        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233460    |200         |2022-10-02 21:33:41  |181474927          |0              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |10162          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |52              |Spicy Miso Vegetable Ramen  |2           |17.2500       |34.5000  |34.5000         |NULL                |NULL                     |34.5000        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233498    |201         |2022-10-02 08:45:37  |181475032          |0              |The Mega Melt       |Grilled Cheese  |Małopolskie województwo  |Poland     |1                 |147             |Cassandra                |Brown                   |8002           |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |62              |The Ranch                   |1           |6.0000        |6.0000   |6.0000          |NULL                |NULL                     |6.0000         |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233507    |201         |2022-10-02 09:13:21  |181475047          |0              |The Mega Melt       |Grilled Cheese  |Małopolskie województwo  |Poland     |1                 |147             |Cassandra                |Brown                   |8002           |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |61              |The Original                |1           |5.0000        |5.0000   |5.0000          |NULL                |NULL                     |5.0000         |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [41]:
df = last_tran_city_sdf_join[last_tran_city_sdf_join["DATE"] > last_tran_city_sdf_join["CUSTOMER_COUNT_DATE"]]
df.show()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"PRIMARY_CITY"  |"MAX(TO_DATE(ORDER_TS))"  |"CHURN_DATE"  |"CUSTOMER_COUNT_DATE"  |"DATE"      |"ORDER_ID"  |"TRUCK_ID"  |"ORDER_TS"           |"ORDER_DETAIL_ID"  |"LINE_NUMBER"  |"TRUCK_BRAND_NAME"  |"MENU_TYPE"     |"REGION"                 |"COUNTRY"  |"FRANCHISE_FLAG"  |"FRANCHISE_ID"  |"FRANCHISEE_FIRST_NAME"  |"FRANCHISEE_LAST_NAME"  |"LOCATION_ID"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"E_MAIL"  |"PHONE_NUMBER"  |"CHILDREN_COUNT"  |"GENDER"  |"MARITAL_STATUS"  |"MENU_ITEM_ID"  |"MENU_ITEM_NAME"            |"QUANTITY"  |"UNIT_PRICE"  |"PRICE"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233206    |200         |2022-10-02 12:42:13  |181474297          |0              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |56              |Ice Tea                     |1           |3.0000        |3.0000   |72.0000         |NULL                |NULL                     |72.0000        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233206    |200         |2022-10-02 12:42:13  |181474299          |2              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |52              |Spicy Miso Vegetable Ramen  |1           |17.2500       |17.2500  |72.0000         |NULL                |NULL                     |72.0000        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233206    |200         |2022-10-02 12:42:13  |181474298          |1              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |51              |Creamy Chicken Ramen        |3           |17.2500       |51.7500  |72.0000         |NULL                |NULL                     |72.0000        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233207    |200         |2022-10-02 12:42:59  |181474300          |0              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |12392          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |52              |Spicy Miso Vegetable Ramen  |1           |17.2500       |17.2500  |17.2500         |NULL                |NULL                     |17.2500        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233399    |200         |2022-10-02 20:10:48  |181474777          |0              |Kitakata Ramen Bar  |Ramen           |Małopolskie województwo  |Poland     |1                 |146             |Sheri                    |Bryant                  |10162          |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |52              |Spicy Miso Vegetable Ramen  |1           |17.2500       |17.2500  |17.2500         |NULL                |NULL                     |17.2500        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233492    |201         |2022-10-02 08:38:31  |181475016          |0              |The Mega Melt       |Grilled Cheese  |Małopolskie województwo  |Poland     |1                 |147             |Cassandra                |Brown                   |8002           |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |61              |The Original                |1           |5.0000        |5.0000   |11.0000         |NULL                |NULL                     |11.0000        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233492    |201         |2022-10-02 08:38:31  |181475017          |1              |The Mega Melt       |Grilled Cheese  |Małopolskie województwo  |Poland     |1                 |147             |Cassandra                |Brown                   |8002           |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |62              |The Ranch                   |1           |6.0000        |6.0000   |11.0000         |NULL                |NULL                     |11.0000        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233603    |201         |2022-10-02 12:07:25  |181475296          |1              |The Mega Melt       |Grilled Cheese  |Małopolskie województwo  |Poland     |1                 |147             |Cassandra                |Brown                   |8002           |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |61              |The Original                |2           |5.0000        |10.0000  |34.0000         |NULL                |NULL                     |34.0000        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233603    |201         |2022-10-02 12:07:25  |181475297          |2              |The Mega Melt       |Grilled Cheese  |Małopolskie województwo  |Poland     |1                 |147             |Cassandra                |Brown                   |8002           |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |62              |The Ranch                   |2           |6.0000        |12.0000  |34.0000         |NULL                |NULL                     |34.0000        |
|Krakow          |2022-11-01                |2022-10-18    |2022-09-18             |2022-10-02  |67233603    |201         |2022-10-02 12:07:25  |181475298          |3              |The Mega Melt       |Grilled Cheese  |Małopolskie województwo  |Poland     |1                 |147             |Cassandra                |Brown                   |8002           |NULL           |NULL          |NULL         |NULL      |NULL            |NULL              |NULL      |NULL              |63              |Miss Piggie                 |1           |6.0000        |6.0000   |34.0000         |NULL                |NULL                     |34.0000        |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [42]:
df2 = df[last_tran_city_sdf_join["DATE"] > last_tran_city_sdf_join["CHURN_DATE"]]

In [46]:
cust_bef = df.groupBy("PRIMARY_CITY").agg(F.countDistinct(F.col("CUSTOMER_ID")).alias('COUNT_BEF'))
cust_aft = df2.groupBy("PRIMARY_CITY").agg(F.countDistinct(F.col("CUSTOMER_ID")).alias('COUNT_AFT'))

cust_bef.show(400)

--------------------------------
|"PRIMARY_CITY"  |"COUNT_BEF"  |
--------------------------------
|Warsaw          |9153         |
|London          |9954         |
|Vancouver       |7663         |
|Seattle         |7169         |
|Cape Town       |4670         |
|Delhi           |6708         |
|Tokyo           |9931         |
|Barcelona       |3462         |
|Rio de Janeiro  |5683         |
|Melbourne       |6752         |
|Hamburg         |6198         |
|Manchester      |8324         |
|Boston          |8922         |
|Montreal        |9709         |
|Madrid          |4819         |
|Toronto         |10238        |
|Sao Paulo       |4832         |
|Denver          |8988         |
|New York City   |9853         |
|Krakow          |4581         |
|Berlin          |3608         |
|Paris           |7235         |
|Stockholm       |6053         |
|Seoul           |7756         |
|Cairo           |5556         |
|Munich          |5531         |
|Sydney          |8000         |
|Nice            |6817         |
|Mumbai          |8711         |
|San Mateo       |9953         |
--------------------------------

In [49]:
calculator = cust_aft.join(
    right=cust_bef,
    on="PRIMARY_CITY",
    how="inner"
)

calc = calculator.to_pandas()

calc["CHURN_RATE"] = (((calc["COUNT_BEF"] - calc["COUNT_AFT"]) / calc["COUNT_BEF"]) * 100)

calc.sort_values(by='CHURN_RATE',ascending=False)

      PRIMARY_CITY  COUNT_AFT  COUNT_BEF  CHURN_RATE
8        Melbourne       4016       6752   40.521327
1           London       6048       9954   39.240506
15       San Mateo       6235       9953   37.355571
16            Nice       4395       6817   35.528825
5           Madrid       3135       4819   34.945009
13       Barcelona       2262       3462   34.662045
23           Cairo       3639       5556   34.503240
14  Rio de Janeiro       3778       5683   33.521028
17          Sydney       5422       8000   32.225000
10       Cape Town       3206       4670   31.349036
29        Montreal       6727       9709   30.713771
27      Manchester       5834       8324   29.913503
25           Paris       5087       7235   29.689012
11           Tokyo       6986       9931   29.654617
26       Stockholm       4267       6053   29.506030
6          Toronto       7260      10238   29.087712
19          Krakow       3252       4581   29.011133
22          Berlin       2602       3608   27.882483
24          Munich       4027       5531   27.192189
28          Boston       6524       8922   26.877382
7        Sao Paulo       3544       4832   26.655629
0        Vancouver       5756       7663   24.885815
12           Delhi       5058       6708   24.597496
20           Seoul       5893       7756   24.020113
3           Warsaw       7063       9153   22.834043
4           Denver       6942       8988   22.763685
18          Mumbai       6787       8711   22.087016
21   New York City       7704       9853   21.810616
2          Seattle       5648       7169   21.216348
9          Hamburg       4991       6198   19.474024