In [3]:
#Import Python packages
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns
import json
import datetime

# Import Snowflake modules
from snowflake.snowpark import Session
import snowflake.snowpark.functions as F
import snowflake.snowpark.types as T
from snowflake.snowpark import Window

In [4]:
# Get account credentials from a json file
with open("data_scientist_auth.json") as f:
    data = json.load(f)
    username = data["username"]
    password = data["password"]
    account = data["account"]

# Specify connection parameters
connection_parameters = {
    "account": account,
    "user": username,
    "password": password,
    "role": "TASTY_BI",
    "warehouse": "TASTY_BI_WH",
    "database": "frostbyte_tasty_bytes",
    "schema": "analytics",
}

# Create Snowpark session
session = Session.builder.configs(connection_parameters).create()

In [5]:
#Function to remove and rename columns after inner join
def remove_dup_join_col(df):
    # capitalise all columns
    for col in df.columns:
        df = df.withColumnRenamed(col, col.upper())
    
    # get list of renamable columns for left and right join
    left_dup_col = [col_name for col_name in df.columns if col_name.startswith('L_')]
    right_dup_col = [col_name for col_name in df.columns if col_name.startswith('R_')]
    old_columns = df.columns
    
    # rename the list with the most number of renamable columns
    # drop the list of columns with less number of renamable columns
    if len(left_dup_col)>len(right_dup_col):
        columns_rename=left_dup_col
        df= df.drop(*right_dup_col)
    else:
        columns_rename=right_dup_col
        df= df.drop(*left_dup_col)
    
    for old_column in old_columns:
        if old_column in columns_rename:
            # get string to remove
            string_to_replace = columns_rename[0][:7]
            # replace starting string
            new_column = old_column.replace(string_to_replace, "")
            df = df.withColumnRenamed(old_column, new_column)
    
    return df

In [6]:
orders_df = session.table("tran_anal")

In [7]:
orders_df.show()

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ORDER_ID"  |"TRUCK_ID"  |"LOCATION_ID"  |"DISCOUNT_ID"  |"SHIFT_ID"  |"SHIFT_START_TIME"  |"SHIFT_END_TIME"  |"ORDER_CHANNEL"  |"ORDER_TS"           |"SERVED_TS"  |"ORDER_CURRENCY"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"  |"COUNTRY"  |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"  |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"                   |"PHONE_NUMBER"  |"DTNO"  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|120104892   |275         |12679.0        |NULL           |282630      |08:00:00            |14:00:00          |NULL             |2020-01-25 08:23:45  |NULL         |USD               |86.2500         |NULL                |NULL                     |86.2500        |108981         |Annika        |Fletcher     |Sydney  |Australia  |2000           |English               |Male      |NULL               |Married           |3                 |2020-09-17      |1946-03-13       |Annika.Fletcher@ymail.com  |180-177-6300    |35      |
|120250250   |275         |11953.0        |NULL           |282840      |08:30:00            |14:30:00          |NULL             |2020-02-29 13:53:06  |NULL         |USD               |34.5000         |NULL                |NULL                     |34.5000        |108981         |Annika        |Fletcher     |Sydney  |Australia  |2000           |English               |Male      |NULL               |Married           |3                 |2020-09-17      |1946-03-13       |Annika.Fletcher@ymail.com  |180-177-6300    |4       |
|120270370   |285         |14220.0        |NULL           |282869      |15:30:00            |22:30:00          |NULL             |2020-03-04 21:23:19  |NULL         |USD               |35.0000         |NULL                |NULL                     |35.0000        |108981         |Annika        |Fletcher     |Sydney  |Australia  |2000           |English               |Male      |NULL               |Married           |3                 |2020-09-17      |1946-03-13       |Annika.Fletcher@ymail.com  |180-177-6300    |28      |
|120384475   |285         |11719.0        |NULL           |283037      |16:00:00            |23:00:00          |NULL             |2020-04-01 17:40:54  |NULL         |USD               |11.0000         |NULL                |NULL                     |11.0000        |108981         |Annika        |Fletcher     |Sydney  |Australia  |2000           |English               |Male      |NULL               |Married           |3                 |2020-09-17      |1946-03-13       |Annika.Fletcher@ymail.com  |180-177-6300    |33      |
|120519635   |275         |13042.0        |NULL           |283231      |15:30:00            |22:30:00          |NULL             |2020-05-04 20:20:24  |NULL         |USD               |51.7500         |NULL                |NULL                     |51.7500        |108981         |Annika        |Fletcher     |Sydney  |Australia  |2000           |English               |Male      |NULL               |Married           |3                 |2020-09-17      |1946-03-13       |Annika.Fletcher@ymail.com  |180-177-6300    |45      |
|120709081   |285         |9349.0         |NULL           |283504      |08:00:00            |14:00:00          |NULL             |2020-06-18 12:34:11  |NULL         |USD               |33.0000         |NULL                |NULL                     |33.0000        |108981         |Annika        |Fletcher     |Sydney  |Australia  |2000           |English               |Male      |NULL               |Married           |3                 |2020-09-17      |1946-03-13       |Annika.Fletcher@ymail.com  |180-177-6300    |17      |
|120780755   |285         |11462.0        |NULL           |283606      |08:30:00            |14:30:00          |NULL             |2020-07-05 13:31:24  |NULL         |USD               |22.0000         |NULL                |NULL                     |22.0000        |108981         |Annika        |Fletcher     |Sydney  |Australia  |2000           |English               |Male      |NULL               |Married           |3                 |2020-09-17      |1946-03-13       |Annika.Fletcher@ymail.com  |180-177-6300    |11      |
|120825600   |285         |14222.0        |NULL           |283672      |08:00:00            |14:00:00          |NULL             |2020-07-16 08:20:42  |NULL         |USD               |36.0000         |NULL                |NULL                     |36.0000        |108981         |Annika        |Fletcher     |Sydney  |Australia  |2000           |English               |Male      |NULL               |Married           |3                 |2020-09-17      |1946-03-13       |Annika.Fletcher@ymail.com  |180-177-6300    |113     |
|121401198   |283         |13924.0        |NULL           |284496      |08:00:00            |14:00:00          |NULL             |2020-11-06 08:44:10  |NULL         |USD               |13.0000         |NULL                |NULL                     |13.0000        |108981         |Annika        |Fletcher     |Sydney  |Australia  |2000           |English               |Male      |NULL               |Married           |3                 |2020-09-17      |1946-03-13       |Annika.Fletcher@ymail.com  |180-177-6300    |9       |
|121465199   |283         |11725.0        |NULL           |284587      |15:00:00            |22:00:00          |NULL             |2020-11-15 15:51:19  |NULL         |USD               |20.0000         |NULL                |NULL                     |20.0000        |108981         |Annika        |Fletcher     |Sydney  |Australia  |2000           |English               |Male      |NULL               |Married           |3                 |2020-09-17      |1946-03-13       |Annika.Fletcher@ymail.com  |180-177-6300    |31      |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [8]:
orders_df = orders_df.filter(F.col("COUNTRY") == "United States")

orders_df.show()

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ORDER_ID"  |"TRUCK_ID"  |"LOCATION_ID"  |"DISCOUNT_ID"  |"SHIFT_ID"  |"SHIFT_START_TIME"  |"SHIFT_END_TIME"  |"ORDER_CHANNEL"  |"ORDER_TS"           |"SERVED_TS"  |"ORDER_CURRENCY"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"   |"COUNTRY"      |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"  |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"                    |"PHONE_NUMBER"  |"DTNO"  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|452754718   |33          |2020.0         |NULL           |200546984   |08:00:00            |14:00:00          |NULL             |2019-11-24 09:33:35  |NULL         |USD               |10.0000         |NULL                |NULL                     |10.0000        |69443          |Parker        |Trevino      |Seattle  |United States  |98199          |English               |Female    |NULL               |Married           |2                 |2020-07-25      |1983-05-22       |Parker.Trevino@hotmail.com  |012-104-0457    |29      |
|452766079   |33          |2628.0         |NULL           |200547043   |15:30:00            |22:30:00          |NULL             |2019-12-23 21:44:40  |NULL         |USD               |31.5000         |NULL                |NULL                     |31.5000        |69443          |Parker        |Trevino      |Seattle  |United States  |98199          |English               |Female    |NULL               |Married           |2                 |2020-07-25      |1983-05-22       |Parker.Trevino@hotmail.com  |012-104-0457    |9       |
|452769158   |31          |15029.0        |NULL           |200547060   |09:00:00            |15:00:00          |NULL             |2020-01-01 09:45:24  |NULL         |USD               |13.0000         |NULL                |NULL                     |13.0000        |69443          |Parker        |Trevino      |Seattle  |United States  |98199          |English               |Female    |NULL               |Married           |2                 |2020-07-25      |1983-05-22       |Parker.Trevino@hotmail.com  |012-104-0457    |10      |
|452775700   |33          |15469.0        |NULL           |200547103   |15:00:00            |22:00:00          |NULL             |2020-01-11 21:27:19  |NULL         |USD               |76.0000         |NULL                |NULL                     |76.0000        |69443          |Parker        |Trevino      |Seattle  |United States  |98199          |English               |Female    |NULL               |Married           |2                 |2020-07-25      |1983-05-22       |Parker.Trevino@hotmail.com  |012-104-0457    |69      |
|452818929   |31          |15028.0        |NULL           |200547377   |15:30:00            |22:30:00          |NULL             |2020-03-20 21:42:26  |NULL         |USD               |4.0000          |NULL                |NULL                     |4.0000         |69443          |Parker        |Trevino      |Seattle  |United States  |98199          |English               |Female    |NULL               |Married           |2                 |2020-07-25      |1983-05-22       |Parker.Trevino@hotmail.com  |012-104-0457    |1       |
|452819601   |31          |2720.0         |NULL           |200547381   |15:00:00            |22:00:00          |NULL             |2020-03-21 17:19:47  |NULL         |USD               |26.0000         |NULL                |NULL                     |26.0000        |69443          |Parker        |Trevino      |Seattle  |United States  |98199          |English               |Female    |NULL               |Married           |2                 |2020-07-25      |1983-05-22       |Parker.Trevino@hotmail.com  |012-104-0457    |23      |
|452839934   |33          |1262.0         |NULL           |200547499   |15:00:00            |22:00:00          |NULL             |2020-04-13 18:33:50  |NULL         |USD               |25.0000         |NULL                |NULL                     |25.0000        |69443          |Parker        |Trevino      |Seattle  |United States  |98199          |English               |Female    |NULL               |Married           |2                 |2020-07-25      |1983-05-22       |Parker.Trevino@hotmail.com  |012-104-0457    |3       |
|452842885   |31          |15034.0        |NULL           |200547515   |15:30:00            |22:30:00          |NULL             |2020-04-16 18:33:16  |NULL         |USD               |6.0000          |NULL                |NULL                     |6.0000         |69443          |Parker        |Trevino      |Seattle  |United States  |98199          |English               |Female    |NULL               |Married           |2                 |2020-07-25      |1983-05-22       |Parker.Trevino@hotmail.com  |012-104-0457    |7       |
|452850424   |33          |3196.0         |NULL           |200547558   |08:00:00            |14:00:00          |NULL             |2020-04-23 12:42:17  |NULL         |USD               |12.5000         |NULL                |NULL                     |12.5000        |69443          |Parker        |Trevino      |Seattle  |United States  |98199          |English               |Female    |NULL               |Married           |2                 |2020-07-25      |1983-05-22       |Parker.Trevino@hotmail.com  |012-104-0457    |44      |
|452893545   |33          |14992.0        |NULL           |200547823   |16:00:00            |23:00:00          |NULL             |2020-06-06 20:05:55  |NULL         |USD               |57.5000         |NULL                |NULL                     |57.5000        |69443          |Parker        |Trevino      |Seattle  |United States  |98199          |English               |Female    |NULL               |Married           |2                 |2020-07-25      |1983-05-22       |Parker.Trevino@hotmail.com  |012-104-0457    |8       |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [9]:
orders_df = orders_df.with_column("YEAR", F.year("ORDER_TS"))
orders_df = orders_df.with_column("MONTH", F.month("ORDER_TS"))
orders_df = orders_df.with_column("YEAR_MONTH", F.concat(F.col("YEAR"), F.col("MONTH")))
orders_df.show()

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ORDER_ID"  |"TRUCK_ID"  |"LOCATION_ID"  |"DISCOUNT_ID"  |"SHIFT_ID"  |"SHIFT_START_TIME"  |"SHIFT_END_TIME"  |"ORDER_CHANNEL"  |"ORDER_TS"           |"SERVED_TS"  |"ORDER_CURRENCY"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"   |"COUNTRY"      |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"  |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"                |"PHONE_NUMBER"  |"DTNO"  |"YEAR"  |"MONTH"  |"YEAR_MONTH"  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|452737203   |33          |2482.0         |NULL           |200546895   |15:00:00            |22:00:00          |NULL             |2019-10-10 18:57:42  |NULL         |USD               |58.5000         |NULL                |NULL                     |58.5000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |73      |2019    |10       |201910        |
|452765389   |33          |1384.0         |NULL           |200547040   |08:00:00            |14:00:00          |NULL             |2019-12-22 09:04:11  |NULL         |USD               |37.0000         |NULL                |NULL                     |37.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |21      |2019    |12       |201912        |
|452775847   |31          |1724.0         |NULL           |200547104   |08:00:00            |14:00:00          |NULL             |2020-01-12 13:22:22  |NULL         |USD               |40.5000         |NULL                |NULL                     |40.5000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |6       |2020    |1        |20201         |
|452779447   |33          |4121.0         |NULL           |200547130   |08:00:00            |14:00:00          |NULL             |2020-01-18 08:56:37  |NULL         |USD               |50.0000         |NULL                |NULL                     |50.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |1       |2020    |1        |20201         |
|452779876   |31          |5163.0         |NULL           |200547132   |08:00:00            |14:00:00          |NULL             |2020-01-19 12:04:28  |NULL         |USD               |16.0000         |NULL                |NULL                     |16.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |51      |2020    |1        |20201         |
|452811752   |31          |15018.0        |NULL           |200547337   |15:30:00            |22:30:00          |NULL             |2020-03-10 19:38:39  |NULL         |USD               |23.0000         |NULL                |NULL                     |23.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |20      |2020    |3        |20203         |
|452825768   |33          |2116.0         |NULL           |200547419   |16:00:00            |23:00:00          |NULL             |2020-03-30 20:55:49  |NULL         |USD               |37.5000         |NULL                |NULL                     |37.5000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |61      |2020    |3        |20203         |
|452886382   |31          |2021.0         |NULL           |200547779   |15:30:00            |22:30:00          |NULL             |2020-05-30 21:50:44  |NULL         |USD               |5.0000          |NULL                |NULL                     |5.0000         |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |9       |2020    |5        |20205         |
|452895542   |45          |1674.0         |NULL           |200547837   |15:30:00            |22:30:00          |NULL             |2020-06-08 18:47:31  |NULL         |USD               |11.0000         |NULL                |NULL                     |11.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |19      |2020    |6        |20206         |
|452914028   |31          |15007.0        |NULL           |200547947   |15:30:00            |22:30:00          |NULL             |2020-06-27 21:15:12  |NULL         |USD               |14.0000         |NULL                |NULL                     |14.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |27      |2020    |6        |20206         |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [10]:
#Get last purchase date as a variable
lastdate=orders_df.select(F.max('ORDER_TS')).first()[0]

# get AGE variable
orders_df = orders_df.withColumn("AGE", F.datediff('year', F.col("BIRTHDAY_DATE"),F.lit(lastdate)))
orders_df.show()

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ORDER_ID"  |"TRUCK_ID"  |"LOCATION_ID"  |"DISCOUNT_ID"  |"SHIFT_ID"  |"SHIFT_START_TIME"  |"SHIFT_END_TIME"  |"ORDER_CHANNEL"  |"ORDER_TS"           |"SERVED_TS"  |"ORDER_CURRENCY"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"   |"COUNTRY"      |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"  |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"                |"PHONE_NUMBER"  |"DTNO"  |"YEAR"  |"MONTH"  |"YEAR_MONTH"  |"AGE"  |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|452737203   |33          |2482.0         |NULL           |200546895   |15:00:00            |22:00:00          |NULL             |2019-10-10 18:57:42  |NULL         |USD               |58.5000         |NULL                |NULL                     |58.5000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |73      |2019    |10       |201910        |76     |
|452765389   |33          |1384.0         |NULL           |200547040   |08:00:00            |14:00:00          |NULL             |2019-12-22 09:04:11  |NULL         |USD               |37.0000         |NULL                |NULL                     |37.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |21      |2019    |12       |201912        |76     |
|452775847   |31          |1724.0         |NULL           |200547104   |08:00:00            |14:00:00          |NULL             |2020-01-12 13:22:22  |NULL         |USD               |40.5000         |NULL                |NULL                     |40.5000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |6       |2020    |1        |20201         |76     |
|452779447   |33          |4121.0         |NULL           |200547130   |08:00:00            |14:00:00          |NULL             |2020-01-18 08:56:37  |NULL         |USD               |50.0000         |NULL                |NULL                     |50.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |1       |2020    |1        |20201         |76     |
|452779876   |31          |5163.0         |NULL           |200547132   |08:00:00            |14:00:00          |NULL             |2020-01-19 12:04:28  |NULL         |USD               |16.0000         |NULL                |NULL                     |16.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |51      |2020    |1        |20201         |76     |
|452811752   |31          |15018.0        |NULL           |200547337   |15:30:00            |22:30:00          |NULL             |2020-03-10 19:38:39  |NULL         |USD               |23.0000         |NULL                |NULL                     |23.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |20      |2020    |3        |20203         |76     |
|452825768   |33          |2116.0         |NULL           |200547419   |16:00:00            |23:00:00          |NULL             |2020-03-30 20:55:49  |NULL         |USD               |37.5000         |NULL                |NULL                     |37.5000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |61      |2020    |3        |20203         |76     |
|452886382   |31          |2021.0         |NULL           |200547779   |15:30:00            |22:30:00          |NULL             |2020-05-30 21:50:44  |NULL         |USD               |5.0000          |NULL                |NULL                     |5.0000         |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |9       |2020    |5        |20205         |76     |
|452895542   |45          |1674.0         |NULL           |200547837   |15:30:00            |22:30:00          |NULL             |2020-06-08 18:47:31  |NULL         |USD               |11.0000         |NULL                |NULL                     |11.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |19      |2020    |6        |20206         |76     |
|452914028   |31          |15007.0        |NULL           |200547947   |15:30:00            |22:30:00          |NULL             |2020-06-27 21:15:12  |NULL         |USD               |14.0000         |NULL                |NULL                     |14.0000        |116170         |Warren        |Burke        |Seattle  |United States  |98170          |English               |Male      |NULL               |Undisclosed       |Undisclosed       |2021-09-02      |1946-01-20       |Warren.Burke@ymail.com  |504-466-2500    |27      |2020    |6        |20206         |76     |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [11]:
churn_YN = orders_df.with_column("CHURN", F.iff(F.col("DTNO") > 9, "1", "0"))

churn_YN.show()

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ORDER_ID"  |"TRUCK_ID"  |"LOCATION_ID"  |"DISCOUNT_ID"  |"SHIFT_ID"  |"SHIFT_START_TIME"  |"SHIFT_END_TIME"  |"ORDER_CHANNEL"  |"ORDER_TS"           |"SERVED_TS"  |"ORDER_CURRENCY"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"         |"COUNTRY"      |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"     |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"               |"PHONE_NUMBER"  |"DTNO"  |"YEAR"  |"MONTH"  |"YEAR_MONTH"  |"AGE"  |"CHURN"  |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|435976168   |73          |1602.0         |NULL           |200508492   |08:30:00            |14:30:00          |NULL             |2020-01-06 14:24:42  |NULL         |USD               |19.0000         |NULL                |NULL                     |19.0000        |123471         |Elsa          |Harper       |New York City  |United States  |10467          |English               |Undisclosed  |NULL               |Married           |0                 |2020-12-27      |1998-12-24       |Elsa.Harper@gmail.com  |344-827-0942    |14      |2020    |1        |20201         |24     |1        |
|436017293   |73          |1977.0         |NULL           |200508548   |08:30:00            |14:30:00          |NULL             |2020-01-20 09:41:40  |NULL         |USD               |48.0000         |NULL                |NULL                     |48.0000        |123471         |Elsa          |Harper       |New York City  |United States  |10467          |English               |Undisclosed  |NULL               |Married           |0                 |2020-12-27      |1998-12-24       |Elsa.Harper@gmail.com  |344-827-0942    |16      |2020    |1        |20201         |24     |1        |
|436063897   |67          |9647.0         |NULL           |200508611   |15:30:00            |22:30:00          |NULL             |2020-02-05 21:18:53  |NULL         |USD               |39.0000         |NULL                |NULL                     |39.0000        |123471         |Elsa          |Harper       |New York City  |United States  |10467          |English               |Undisclosed  |NULL               |Married           |0                 |2020-12-27      |1998-12-24       |Elsa.Harper@gmail.com  |344-827-0942    |59      |2020    |2        |20202         |24     |1        |
|436237620   |73          |15166.0        |NULL           |200508848   |08:00:00            |14:00:00          |NULL             |2020-04-04 13:00:26  |NULL         |USD               |69.0000         |NULL                |NULL                     |69.0000        |123471         |Elsa          |Harper       |New York City  |United States  |10467          |English               |Undisclosed  |NULL               |Married           |0                 |2020-12-27      |1998-12-24       |Elsa.Harper@gmail.com  |344-827-0942    |50      |2020    |4        |20204         |24     |1        |
|436382622   |67          |15184.0        |NULL           |200509046   |08:00:00            |14:00:00          |NULL             |2020-05-24 13:51:44  |NULL         |USD               |85.0000         |NULL                |NULL                     |85.0000        |123471         |Elsa          |Harper       |New York City  |United States  |10467          |English               |Undisclosed  |NULL               |Married           |0                 |2020-12-27      |1998-12-24       |Elsa.Harper@gmail.com  |344-827-0942    |42      |2020    |5        |20205         |24     |1        |
|436505428   |67          |1830.0         |NULL           |200509214   |08:30:00            |14:30:00          |NULL             |2020-07-05 09:11:27  |NULL         |USD               |47.0000         |NULL                |NULL                     |47.0000        |123471         |Elsa          |Harper       |New York City  |United States  |10467          |English               |Undisclosed  |NULL               |Married           |0                 |2020-12-27      |1998-12-24       |Elsa.Harper@gmail.com  |344-827-0942    |23      |2020    |7        |20207         |24     |1        |
|436574420   |73          |8419.0         |NULL           |200509309   |15:00:00            |22:00:00          |NULL             |2020-07-28 15:27:38  |NULL         |USD               |39.0000         |NULL                |NULL                     |39.0000        |123471         |Elsa          |Harper       |New York City  |United States  |10467          |English               |Undisclosed  |NULL               |Married           |0                 |2020-12-27      |1998-12-24       |Elsa.Harper@gmail.com  |344-827-0942    |29      |2020    |7        |20207         |24     |1        |
|436659296   |73          |15192.0        |NULL           |200509424   |08:00:00            |14:00:00          |NULL             |2020-08-26 10:35:47  |NULL         |USD               |27.0000         |NULL                |NULL                     |27.0000        |123471         |Elsa          |Harper       |New York City  |United States  |10467          |English               |Undisclosed  |NULL               |Married           |0                 |2020-12-27      |1998-12-24       |Elsa.Harper@gmail.com  |344-827-0942    |120     |2020    |8        |20208         |24     |1        |
|437256842   |67          |9642.0         |NULL           |200510238   |08:00:00            |14:00:00          |NULL             |2020-12-24 12:19:31  |NULL         |USD               |21.0000         |NULL                |NULL                     |21.0000        |123471         |Elsa          |Harper       |New York City  |United States  |10467          |English               |Undisclosed  |NULL               |Married           |0                 |2020-12-27      |1998-12-24       |Elsa.Harper@gmail.com  |344-827-0942    |38      |2020    |12       |202012        |24     |1        |
|437622116   |73          |1906.0         |NULL           |200510733   |15:30:00            |22:30:00          |NULL             |2021-01-31 20:25:37  |NULL         |USD               |47.0000         |NULL                |NULL                     |47.0000        |123471         |Elsa          |Harper       |New York City  |United States  |10467          |English               |Undisclosed  |NULL               |Married           |0                 |2020-12-27      |1998-12-24       |Elsa.Harper@gmail.com  |344-827-0942    |10      |2021    |1        |20211         |24     |1        |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [12]:
SUM_SALES_YM_CITY = orders_df.groupBy(F.col("YEAR"),F.col("MONTH"), F.col("CITY")).agg(F.sum('"ORDER_TOTAL"'))
SUM_SALES_YM_CITY.show()

---------------------------------------------------------
|"YEAR"  |"MONTH"  |"CITY"         |"SUM(ORDER_TOTAL)"  |
---------------------------------------------------------
|2021    |10       |San Mateo      |580027.0000         |
|2019    |12       |Denver         |194667.0000         |
|2022    |5        |Denver         |932059.2500         |
|2021    |3        |New York City  |536115.5000         |
|2022    |9        |Seattle        |694222.7500         |
|2022    |10       |San Mateo      |490403.5000         |
|2019    |8        |San Mateo      |52814.0000          |
|2022    |1        |New York City  |966830.2500         |
|2022    |5        |Boston         |834712.2500         |
|2022    |10       |Seattle        |568301.0000         |
---------------------------------------------------------

In [13]:
churn_rate_YM_CITY = churn_YN.group_by(F.col("YEAR"), F.col("MONTH"), F.col("CITY")).agg(F.sum("CHURN")/F.count("CHURN"))

churn_to_sales_CITY = churn_rate_YM_CITY.join(SUM_SALES_YM_CITY, (churn_rate_YM_CITY["YEAR"] == SUM_SALES_YM_CITY["YEAR"]) & (churn_rate_YM_CITY["MONTH"] == SUM_SALES_YM_CITY["MONTH"]) & (churn_rate_YM_CITY["CITY"] == SUM_SALES_YM_CITY["CITY"]), how="inner")
churn_to_sales_CITY = remove_dup_join_col(churn_to_sales_CITY)
churn_to_sales_CITY.show()

----------------------------------------------------------------------------------------------
|"DIVIDE(SUM(CHURN), COUNT(CHURN))"  |"YEAR"  |"MONTH"  |"CITY"         |"SUM(ORDER_TOTAL)"  |
----------------------------------------------------------------------------------------------
|0.5161159125571937                  |2021    |12       |Denver         |833850.5000         |
|0.49650633734156646                 |2022    |8        |New York City  |985278.7500         |
|0.9607376561570494                  |2019    |6        |San Mateo      |32390.0000          |
|0.6807853518641076                  |2021    |7        |San Mateo      |528043.5000         |
|0.7362990903039716                  |2020    |4        |Boston         |240277.0000         |
|0.30618682342820275                 |2022    |10       |Boston         |558852.0000         |
|0.9326036866359447                  |2019    |4        |Denver         |57657.0000          |
|0.6917602579784277                  |2020    |7        |Seattle        |306127.0000         |
|0.7910867237687366                  |2020    |2        |New York City  |257758.0000         |
|0.9498207885304659                  |2019    |5        |San Mateo      |43219.5000          |
----------------------------------------------------------------------------------------------

In [14]:
churn_members = churn_YN.group_by(F.col("YEAR"), F.col("MONTH"), F.col("CITY")).agg(F.count_distinct('CUSTOMER_ID'))

churn_to_sales_CITY = churn_to_sales_CITY.join(churn_members, (churn_members["YEAR"] == churn_to_sales_CITY["YEAR"]) & (churn_members["MONTH"] == churn_to_sales_CITY["MONTH"]) & (churn_members["CITY"] == churn_to_sales_CITY["CITY"]), how="inner")

churn_to_sales_new = remove_dup_join_col(churn_to_sales_CITY)
churn_to_sales_new.show()

------------------------------------------------------------------------------------------------------------------------------
|"DIVIDE(SUM(CHURN), COUNT(CHURN))"  |"SUM(ORDER_TOTAL)"  |"YEAR"  |"MONTH"  |"CITY"         |"COUNT(DISTINCT CUSTOMER_ID)"  |
------------------------------------------------------------------------------------------------------------------------------
|0.6762660718971398                  |580027.0000         |2021    |10       |San Mateo      |8204                           |
|0.4690076466316374                  |932059.2500         |2022    |5        |Denver         |8504                           |
|0.6542634580609265                  |536115.5000         |2021    |3        |New York City  |7769                           |
|0.46136521136521136                 |694222.7500         |2022    |9        |Seattle        |6657                           |
|0.8215978334461747                  |194667.0000         |2019    |12       |Denver         |4388                           |
|0.3230442593499918                  |490403.5000         |2022    |10       |San Mateo      |6546                           |
|0.9233716475095786                  |86192.0000          |2019    |6        |Denver         |2302                           |
|0.6393843498273878                  |532791.0000         |2021    |11       |San Mateo      |7796                           |
|0.5417961633265459                  |785945.7500         |2021    |11       |Denver         |8028                           |
|0.6367636092468307                  |561885.5000         |2021    |1        |Denver         |7120                           |
------------------------------------------------------------------------------------------------------------------------------

In [15]:
member_age = churn_YN.group_by(F.col("YEAR"), F.col("MONTH"), F.col("CITY")).agg(F.avg("AGE"))

churn_to_sales_new = churn_to_sales_new.join(member_age, (member_age["YEAR"] == churn_to_sales_new["YEAR"]) & (member_age["MONTH"] == churn_to_sales_new["MONTH"]) & (member_age["CITY"] == churn_to_sales_new["CITY"]), how="inner")

churn_to_sales_new = remove_dup_join_col(churn_to_sales_new)
churn_to_sales_new.show()

-------------------------------------------------------------------------------------------------------------------------------------------
|"DIVIDE(SUM(CHURN), COUNT(CHURN))"  |"SUM(ORDER_TOTAL)"  |"COUNT(DISTINCT CUSTOMER_ID)"  |"YEAR"  |"MONTH"  |"CITY"         |"AVG(AGE)"  |
-------------------------------------------------------------------------------------------------------------------------------------------
|0.8215978334461747                  |194667.0000         |4388                           |2019    |12       |Denver         |49.613406   |
|0.4690076466316374                  |932059.2500         |8504                           |2022    |5        |Denver         |49.883506   |
|0.46136521136521136                 |694222.7500         |6657                           |2022    |9        |Seattle        |49.278067   |
|0.3230442593499918                  |490403.5000         |6546                           |2022    |10       |San Mateo      |49.362486   |
|0.6542634580609265                  |536115.5000         |7769                           |2021    |3        |New York City  |49.375713   |
|0.6762660718971398                  |580027.0000         |8204                           |2021    |10       |San Mateo      |49.332590   |
|0.48398758133798325                 |966830.2500         |9180                           |2022    |1        |New York City  |49.523753   |
|0.926942404329339                   |52814.0000          |2302                           |2019    |8        |San Mateo      |49.499034   |
|0.5084762228590858                  |834712.2500         |8342                           |2022    |5        |Boston         |49.334532   |
|0.27111111111111114                 |568301.0000         |5904                           |2022    |10       |Seattle        |49.395132   |
-------------------------------------------------------------------------------------------------------------------------------------------

In [16]:
pred = churn_to_sales_new.withColumnRenamed("DIVIDE(SUM(CHURN), COUNT(CHURN))","CHURN_RATE")
pred = pred.withColumnRenamed("SUM(ORDER_TOTAL)", "SALES")
pred = pred.withColumnRenamed("COUNT(DISTINCT CUSTOMER_ID)", "DISTINCT_CUSTOMER")
pred = pred.withColumnRenamed("AVG(AGE)", "AVERAGE_AGE")

pred.show()

--------------------------------------------------------------------------------------------------------------
|"CHURN_RATE"         |"SALES"      |"DISTINCT_CUSTOMER"  |"YEAR"  |"MONTH"  |"CITY"         |"AVERAGE_AGE"  |
--------------------------------------------------------------------------------------------------------------
|0.4690076466316374   |932059.2500  |8504                 |2022    |5        |Denver         |49.883506      |
|0.46136521136521136  |694222.7500  |6657                 |2022    |9        |Seattle        |49.278067      |
|0.6762660718971398   |580027.0000  |8204                 |2021    |10       |San Mateo      |49.332590      |
|0.6542634580609265   |536115.5000  |7769                 |2021    |3        |New York City  |49.375713      |
|0.3230442593499918   |490403.5000  |6546                 |2022    |10       |San Mateo      |49.362486      |
|0.8215978334461747   |194667.0000  |4388                 |2019    |12       |Denver         |49.613406      |
|0.5211310428701733   |810889.2500  |8746                 |2022    |2        |New York City  |49.939293      |
|0.6542953020134228   |573694.0000  |7904                 |2021    |4        |New York City  |49.633356      |
|0.5471465852577675   |796126.0000  |8827                 |2021    |12       |New York City  |49.568270      |
|0.8468891769280622   |210172.0000  |4679                 |2020    |8        |San Mateo      |49.064485      |
--------------------------------------------------------------------------------------------------------------

In [17]:
df = pred.to_pandas()

In [18]:
df

,CHURN_RATE,SALES,DISTINCT_CUSTOMER,YEAR,MONTH,CITY,AVERAGE_AGE
0,0.469008,932059.25,8504,2022,5,Denver,49.883506
1,0.654263,536115.50,7769,2021,3,New York City,49.375713
2,0.676266,580027.00,8204,2021,10,San Mateo,49.332590
3,0.323044,490403.50,6546,2022,10,San Mateo,49.362486
4,0.461365,694222.75,6657,2022,9,Seattle,49.278067
...,...,...,...,...,...,...,...
189,0.597644,701537.00,8629,2022,7,San Mateo,49.200627
190,0.687888,475562.00,6829,2020,12,Boston,49.407567
191,0.836338,172150.00,3256,2019,11,Seattle,48.959494
192,0.761827,315791.00,6092,2020,4,New York City,49.455682
193,0.930334,50654.50,2253,2019,7,San Mateo,49.489650

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [20]:
df = df.drop(axis=1, columns="CITY")
df

     CHURN_RATE      SALES  DISTINCT_CUSTOMER  YEAR  MONTH AVERAGE_AGE
0      0.469008  932059.25               8504  2022      5   49.883506
1      0.654263  536115.50               7769  2021      3   49.375713
2      0.676266  580027.00               8204  2021     10   49.332590
3      0.323044  490403.50               6546  2022     10   49.362486
4      0.461365  694222.75               6657  2022      9   49.278067
..          ...        ...                ...   ...    ...         ...
189    0.597644  701537.00               8629  2022      7   49.200627
190    0.687888  475562.00               6829  2020     12   49.407567
191    0.836338  172150.00               3256  2019     11   48.959494
192    0.761827  315791.00               6092  2020      4   49.455682
193    0.930334   50654.50               2253  2019      7   49.489650

[194 rows x 6 columns]

In [24]:
df.loc[df["MONTH"]==10]

     CHURN_RATE      SALES  DISTINCT_CUSTOMER  YEAR  MONTH AVERAGE_AGE
2      0.676266  580027.00               8204  2021     10   49.332590
3      0.323044  490403.50               6546  2022     10   49.362486
23     0.668934  551812.00               6946  2020     10   49.846388
49     0.824758  279131.50               5258  2020     10   49.326833
52     0.714890  519330.00               7136  2020     10   49.923307
67     0.306187  558852.00               6633  2022     10   49.518890
91     0.925279   58162.50               2531  2019     10   49.423534
103    0.838225  192566.00               4387  2019     10   49.613311
112    0.265328  828738.25               8257  2022     10   49.616867
114    0.271111  568301.00               5904  2022     10   49.395132
124    0.239908  774519.75               7589  2022     10   49.632265
153    0.699775  354058.50               5380  2020     10   49.208829
155    0.523969  773964.50               8765  2021     10   49.756641
156    0.699548  413593.25               6332  2020     10   49.098932
157    0.835475  191439.50               3469  2019     10   49.176533
168    0.553830  532768.00               6276  2021     10   49.233585
174    0.520719  856806.50               8226  2021     10   49.698054
184    0.572876  665930.25               7953  2021     10   49.080259

In [91]:
train_x = df.drop(axis=1, columns=["SALES", "YEAR"])
train_y = df["SALES"]

X_train, X_test, y_train, y_test = train_test_split(train_x, train_y, test_size=0.3, random_state=10)

In [94]:
from math import sqrt
from sklearn.metrics import mean_squared_error

LR = LinearRegression()
LR.fit(X_train, y_train)

y_fitted = LR.predict(X_train)
print(sqrt(mean_squared_error(y_fitted, y_train)), '(Train RMSE)') # the lower the better
print(LR.score(X_train, y_train), '(Train R^2 Value)') # higher better

69948.93045674295 (Train RMSE)
0.9255714867910557 (Train R^2 Value)

In [95]:
y_fitted2 = LR.predict(X_test)
print(sqrt(mean_squared_error(y_fitted2, y_test)), '(Test RMSE)') # the lower the better
print(LR.score(X_test, y_test), '(Test R^2 Value)') # higher better

93039.09927575946 (Test RMSE)
0.8946651190403448 (Test R^2 Value)

In [98]:
# Coefficients of the logistic regression model
coefficients = LR.coef_
coefficients

array([-7.38158153e+05,  7.36264000e+01,  2.58992191e+03,  3.18397288e+04])

In [126]:
X_train

     CHURN_RATE  DISTINCT_CUSTOMER  MONTH AVERAGE_AGE
81     0.649929               7332     12   49.447595
43     0.652713               8122      3   49.492447
58     0.731253               6458      6   49.316196
166    0.648108               6903      2   49.766099
180    0.717455               7243      5   49.346016
..          ...                ...    ...         ...
113    0.925213               2779      1   48.982644
64     0.697872               6243      8   49.142196
15     0.823013               3356     12   49.054042
125    0.847277               4716      7   49.069062
9      0.719696               6447      7   49.912862

[135 rows x 4 columns]

In [125]:
import joblib

joblib.dump(LR, 'nextMonth.jbl')

OSError: [Errno 22] Invalid argument: 'nextMonth.jbl'