![download.png](download.png)

## Import Packages

In [2]:
#Import Python packages
import pandas as pd
import plotly.express as px
import json
import sys
import cachetools
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import numpy as np
import json
import datetime

# for splitting of the dataset
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate

# for encoding/transforming the data
from feature_engine.encoding import OneHotEncoder

#ML-Models
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier

# for getting metrics
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score

# model selection
from sklearn.model_selection import GridSearchCV

# Import Snowflake modules
from snowflake.snowpark import Session
import snowflake.snowpark.functions as F
import snowflake.snowpark.types as T
from snowflake.snowpark import Window

## Connect to Snowflake

In [3]:
# Get account credentials from a json file
with open("data_scientist_auth.json") as f:
    data = json.load(f)
    username = data["username"]
    password = data["password"]
    account = data["account"]

# Specify connection parameters
connection_parameters = {
    "account": account,
    "user": username,
    "password": password,
    "role": "TASTY_BI",
    "warehouse": "TASTY_BI_WH",
    "database": "frostbyte_tasty_bytes",
    "schema": "analytics",
}

# Create Snowpark session
session = Session.builder.configs(connection_parameters).create()

## Gathering Data as Snowpark DataFrame

In [4]:
#Orders_V
tasty_bytes_orders_v = session.table("frostbyte_tasty_bytes.analytics.orders_v")
#Customer Loyalty
tasty_bytes_customer_loyalty = session.table("frostbyte_tasty_bytes.raw_customer.customer_loyalty")

## Preview The Data

In [28]:
#Filter to only Australia
filtered_df=tasty_bytes_orders_v.filter(F.col('COUNTRY')=='Australia')

#Merge to get loyal customers orders
loyal_customer_orders=tasty_bytes_customer_loyalty.join(
    right=filtered_df,
    on="CUSTOMER_ID",
    how="inner"
)
loyal_customer_orders.show()
print('Number of rows:',loyal_customer_orders.count())

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"CUSTOMER_ID"  |"l_gn2u_FIRST_NAME"  |"l_gn2u_LAST_NAME"  |"CITY"     |"l_gn2u_COUNTRY"  |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"l_gn2u_GENDER"  |"FAVOURITE_BRAND"  |"l_gn2u_MARITAL_STATUS"  |"l_gn2u_CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"l_gn2u_E_MAIL"              |"l_gn2u_PHONE_NUMBER"  |"DATE"      |"ORDER_ID"  |"TRUCK_ID"  |"ORDER_TS"           |"ORDER_DETAIL_ID"  |"LINE_NUMBER"  |"TRUCK_BRAND_NAME"  |"MENU_TYPE"   |"PRIMARY_CITY"  |"REGION"  |"r_tigo_COUNTRY"  |"FRANCHISE_FLAG"  |"FRANCHISE_ID"  |"FRANCHISEE_FIRST_NAME"  |"FRANCHISEE_LAST_NAME"  |"LOCATION_ID"  |"PLACEKEY"           |"LOCATION_NAME"  |"TOP_CATEGORY"                                      |"SUB_CATEGORY"         |"LATITUDE"  |"LONGITUDE"  |"r_tigo_FIRST_NAME"  |"r_tigo_LAST_NAME"  |"r_tigo_E_MAIL"              |"r_tigo_PHONE_NUMBER"  |"r_tigo_CHILDREN_COUNT"  |"r_tigo_GENDER"  |"r_tigo_MARITAL_STATUS"  |"MENU_ITEM_ID"  |"MENU_ITEM_NAME"       |"QUANTITY"  |"UNIT_PRICE"  |"PRICE"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|79089          |Rylie                |Jensen              |Melbourne  |Australia         |3010           |English               |Male             |NULL               |Single                   |0                        |2020-05-25      |2005-06-14       |Rylie.Jensen@gmail.com       |298-637-8539           |2022-06-09  |340255290   |289         |2022-06-09 19:59:08  |579721695          |0              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia         |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Rylie                |Jensen              |Rylie.Jensen@gmail.com       |298-637-8539           |0                        |Male             |Single                   |41              |Standard Mac & Cheese  |3           |8.0000        |24.0000  |57.0000         |NULL                |NULL                     |57.0000        |
|79089          |Rylie                |Jensen              |Melbourne  |Australia         |3010           |English               |Male             |NULL               |Single                   |0                        |2020-05-25      |2005-06-14       |Rylie.Jensen@gmail.com       |298-637-8539           |2022-06-09  |340255290   |289         |2022-06-09 19:59:08  |579721696          |1              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia         |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Rylie                |Jensen              |Rylie.Jensen@gmail.com       |298-637-8539           |0                        |Male             |Single                   |42              |Buffalo Mac & Cheese   |3           |10.0000       |30.0000  |57.0000         |NULL                |NULL                     |57.0000        |
|79089          |Rylie                |Jensen              |Melbourne  |Australia         |3010           |English               |Male             |NULL               |Single                   |0                        |2020-05-25      |2005-06-14       |Rylie.Jensen@gmail.com       |298-637-8539           |2022-06-09  |340255290   |289         |2022-06-09 19:59:08  |579721697          |2              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia         |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Rylie                |Jensen              |Rylie.Jensen@gmail.com       |298-637-8539           |0                        |Male             |Single                   |46              |Ice Tea                |1           |3.0000        |3.0000   |57.0000         |NULL                |NULL                     |57.0000        |
|113317         |Veronica             |Richards            |Melbourne  |Australia         |3003           |English               |Female           |NULL               |Single                   |0                        |2021-12-13      |2000-10-30       |Veronica.Richards@gmail.com  |700-486-3130           |2022-06-09  |340255296   |289         |2022-06-09 20:00:44  |579721709          |0              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia         |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Veronica             |Richards            |Veronica.Richards@gmail.com  |700-486-3130           |0                        |Female           |Single                   |41              |Standard Mac & Cheese  |4           |8.0000        |32.0000  |35.0000         |NULL                |NULL                     |35.0000        |
|113317         |Veronica             |Richards            |Melbourne  |Australia         |3003           |English               |Female           |NULL               |Single                   |0                        |2021-12-13      |2000-10-30       |Veronica.Richards@gmail.com  |700-486-3130           |2022-06-09  |340255296   |289         |2022-06-09 20:00:44  |579721710          |1              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia         |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Veronica             |Richards            |Veronica.Richards@gmail.com  |700-486-3130           |0                        |Female           |Single                   |46              |Ice Tea                |1           |3.0000        |3.0000   |35.0000         |NULL                |NULL                     |35.0000        |
|110375         |Robert               |Hurst               |Melbourne  |Australia         |3004           |English               |Male             |NULL               |Single                   |0                        |2020-04-29      |1957-07-10       |Robert.Hurst@aol.com         |598-772-1016           |2022-06-09  |340255297   |289         |2022-06-09 20:01:11  |579721711          |0              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia         |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Robert               |Hurst               |Robert.Hurst@aol.com         |598-772-1016           |0                        |Male             |Single                   |42              |Buffalo Mac & Cheese   |1           |10.0000       |10.0000  |10.0000         |NULL                |NULL                     |10.0000        |
|134642         |Rylie                |Guzman              |Melbourne  |Australia         |5006           |English               |Male             |NULL               |Married                  |1                        |2021-05-25      |1977-10-11       |Rylie.Guzman@hotmail.com     |987-451-8378           |2022-06-09  |340255301   |289         |2022-06-09 20:01:49  |579721718          |0              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia         |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Rylie                |Guzman              |Rylie.Guzman@hotmail.com     |987-451-8378           |1                        |Male             |Married                  |42              |Buffalo Mac & Cheese   |1           |10.0000       |10.0000  |25.0000         |NULL                |NULL                     |25.0000        |
|134642         |Rylie                |Guzman              |Melbourne  |Australia         |5006           |English               |Male             |NULL               |Married                  |1                        |2021-05-25      |1977-10-11       |Rylie.Guzman@hotmail.com     |987-451-8378           |2022-06-09  |340255301   |289         |2022-06-09 20:01:49  |579721719          |1              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia         |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Rylie                |Guzman              |Rylie.Guzman@hotmail.com     |987-451-8378           |1                        |Male             |Married                  |43              |Lobster Mac & Cheese   |1           |15.0000       |15.0000  |25.0000         |NULL                |NULL                     |25.0000        |
|196185         |Abbey                |Nielsen             |Melbourne  |Australia         |5006           |English               |Male             |NULL               |Married                  |2                        |2022-01-31      |1950-05-25       |Abbey.Nielsen@ymail.com      |279-141-7252           |2022-06-09  |340255393   |289         |2022-06-09 20:53:52  |579721977          |0              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia         |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Abbey                |Nielsen             |Abbey.Nielsen@ymail.com      |279-141-7252           |2                        |Male             |Married                  |41              |Standard Mac & Cheese  |1           |8.0000        |8.0000   |23.0000         |NULL                |NULL                     |23.0000        |
|196185         |Abbey                |Nielsen             |Melbourne  |Australia         |5006           |English               |Male             |NULL               |Married                  |2                        |2022-01-31      |1950-05-25       |Abbey.Nielsen@ymail.com      |279-141-7252           |2022-06-09  |340255393   |289         |2022-06-09 20:53:52  |579721978          |1              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia         |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Abbey                |Nielsen             |Abbey.Nielsen@ymail.com      |279-141-7252           |2                        |Male             |Married                  |43              |Lobster Mac & Cheese   |1           |15.0000       |15.0000  |23.0000         |NULL                |NULL                     |23.0000        |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Number of rows: 2144021

In [6]:
#Function to remove and rename columns after inner join
def remove_dup_join_col(df):
    # capitalise all columns
    for col in df.columns:
        df = df.withColumnRenamed(col, col.upper())
    
    # get list of renamable columns for left and right join
    left_dup_col = [col_name for col_name in df.columns if col_name.startswith('L_')]
    right_dup_col = [col_name for col_name in df.columns if col_name.startswith('R_')]
    old_columns = df.columns
    
    # rename the list with the most number of renamable columns
    # drop the list of columns with less number of renamable columns
    if len(left_dup_col)>len(right_dup_col):
        columns_rename=left_dup_col
        df= df.drop(*right_dup_col)
    else:
        columns_rename=right_dup_col
        df= df.drop(*left_dup_col)
    
    for old_column in old_columns:
        if old_column in columns_rename:
            # get string to remove
            string_to_replace = columns_rename[0][:7]
            # replace starting string
            new_column = old_column.replace(string_to_replace, "")
            df = df.withColumnRenamed(old_column, new_column)
    
    return df

In [29]:
loyal_customer_orders = remove_dup_join_col(loyal_customer_orders)
loyal_customer_orders.show()

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"CUSTOMER_ID"  |"CITY"     |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"FAVOURITE_BRAND"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"DATE"      |"ORDER_ID"  |"TRUCK_ID"  |"ORDER_TS"           |"ORDER_DETAIL_ID"  |"LINE_NUMBER"  |"TRUCK_BRAND_NAME"  |"MENU_TYPE"   |"PRIMARY_CITY"  |"REGION"  |"COUNTRY"  |"FRANCHISE_FLAG"  |"FRANCHISE_ID"  |"FRANCHISEE_FIRST_NAME"  |"FRANCHISEE_LAST_NAME"  |"LOCATION_ID"  |"PLACEKEY"           |"LOCATION_NAME"  |"TOP_CATEGORY"                                      |"SUB_CATEGORY"         |"LATITUDE"  |"LONGITUDE"  |"FIRST_NAME"  |"LAST_NAME"  |"E_MAIL"                     |"PHONE_NUMBER"  |"CHILDREN_COUNT"  |"GENDER"  |"MARITAL_STATUS"  |"MENU_ITEM_ID"  |"MENU_ITEM_NAME"       |"QUANTITY"  |"UNIT_PRICE"  |"PRICE"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|79089          |Melbourne  |3010           |English               |NULL               |2020-05-25      |2005-06-14       |2022-06-09  |340255290   |289         |2022-06-09 19:59:08  |579721695          |0              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia  |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Rylie         |Jensen       |Rylie.Jensen@gmail.com       |298-637-8539    |0                 |Male      |Single            |41              |Standard Mac & Cheese  |3           |8.0000        |24.0000  |57.0000         |NULL                |NULL                     |57.0000        |
|79089          |Melbourne  |3010           |English               |NULL               |2020-05-25      |2005-06-14       |2022-06-09  |340255290   |289         |2022-06-09 19:59:08  |579721696          |1              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia  |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Rylie         |Jensen       |Rylie.Jensen@gmail.com       |298-637-8539    |0                 |Male      |Single            |42              |Buffalo Mac & Cheese   |3           |10.0000       |30.0000  |57.0000         |NULL                |NULL                     |57.0000        |
|79089          |Melbourne  |3010           |English               |NULL               |2020-05-25      |2005-06-14       |2022-06-09  |340255290   |289         |2022-06-09 19:59:08  |579721697          |2              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia  |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Rylie         |Jensen       |Rylie.Jensen@gmail.com       |298-637-8539    |0                 |Male      |Single            |46              |Ice Tea                |1           |3.0000        |3.0000   |57.0000         |NULL                |NULL                     |57.0000        |
|113317         |Melbourne  |3003           |English               |NULL               |2021-12-13      |2000-10-30       |2022-06-09  |340255296   |289         |2022-06-09 20:00:44  |579721709          |0              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia  |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Veronica      |Richards     |Veronica.Richards@gmail.com  |700-486-3130    |0                 |Female    |Single            |41              |Standard Mac & Cheese  |4           |8.0000        |32.0000  |35.0000         |NULL                |NULL                     |35.0000        |
|113317         |Melbourne  |3003           |English               |NULL               |2021-12-13      |2000-10-30       |2022-06-09  |340255296   |289         |2022-06-09 20:00:44  |579721710          |1              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia  |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Veronica      |Richards     |Veronica.Richards@gmail.com  |700-486-3130    |0                 |Female    |Single            |46              |Ice Tea                |1           |3.0000        |3.0000   |35.0000         |NULL                |NULL                     |35.0000        |
|110375         |Melbourne  |3004           |English               |NULL               |2020-04-29      |1957-07-10       |2022-06-09  |340255297   |289         |2022-06-09 20:01:11  |579721711          |0              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia  |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Robert        |Hurst        |Robert.Hurst@aol.com         |598-772-1016    |0                 |Male      |Single            |42              |Buffalo Mac & Cheese   |1           |10.0000       |10.0000  |10.0000         |NULL                |NULL                     |10.0000        |
|134642         |Melbourne  |5006           |English               |NULL               |2021-05-25      |1977-10-11       |2022-06-09  |340255301   |289         |2022-06-09 20:01:49  |579721718          |0              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia  |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Rylie         |Guzman       |Rylie.Guzman@hotmail.com     |987-451-8378    |1                 |Male      |Married           |42              |Buffalo Mac & Cheese   |1           |10.0000       |10.0000  |25.0000         |NULL                |NULL                     |25.0000        |
|134642         |Melbourne  |5006           |English               |NULL               |2021-05-25      |1977-10-11       |2022-06-09  |340255301   |289         |2022-06-09 20:01:49  |579721719          |1              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia  |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Rylie         |Guzman       |Rylie.Guzman@hotmail.com     |987-451-8378    |1                 |Male      |Married           |43              |Lobster Mac & Cheese   |1           |15.0000       |15.0000  |25.0000         |NULL                |NULL                     |25.0000        |
|196185         |Melbourne  |5006           |English               |NULL               |2022-01-31      |1950-05-25       |2022-06-09  |340255393   |289         |2022-06-09 20:53:52  |579721977          |0              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia  |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Abbey         |Nielsen      |Abbey.Nielsen@ymail.com      |279-141-7252    |2                 |Male      |Married           |41              |Standard Mac & Cheese  |1           |8.0000        |8.0000   |23.0000         |NULL                |NULL                     |23.0000        |
|196185         |Melbourne  |5006           |English               |NULL               |2022-01-31      |1950-05-25       |2022-06-09  |340255393   |289         |2022-06-09 20:53:52  |579721978          |1              |The Mac Shack       |Mac & Cheese  |Melbourne       |Victoria  |Australia  |0                 |1               |Corporate                |Owned                   |13359          |zzy-22n@nhx-p7k-ygk  |rebel            |Sporting Goods, Hobby, and Musical Instrument S...  |Sporting Goods Stores  |-37.814035  |144.965175   |Abbey         |Nielsen      |Abbey.Nielsen@ymail.com      |279-141-7252    |2                 |Male      |Married           |43              |Lobster Mac & Cheese   |1           |15.0000       |15.0000  |23.0000         |NULL                |NULL                     |23.0000        |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [96]:
#Total Quantity of each order
temp_df=loyal_customer_orders.group_by(F.col('ORDER_ID')).agg(F.sum(F.col('QUANTITY')).alias('Total_Quantity'))
#Remove duplicate order ids
remove_dup = loyal_customer_orders.dropDuplicates(['ORDER_ID'])
#Merge to get transactions table
combined_df=remove_dup.join(
    right=temp_df,
    on="ORDER_ID",
    how="inner"
)
combined_df.show()

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ORDER_ID"  |"CUSTOMER_ID"  |"CITY"     |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"FAVOURITE_BRAND"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"DATE"      |"TRUCK_ID"  |"ORDER_TS"           |"ORDER_DETAIL_ID"  |"LINE_NUMBER"  |"TRUCK_BRAND_NAME"      |"MENU_TYPE"  |"PRIMARY_CITY"  |"REGION"         |"COUNTRY"  |"FRANCHISE_FLAG"  |"FRANCHISE_ID"  |"FRANCHISEE_FIRST_NAME"  |"FRANCHISEE_LAST_NAME"  |"LOCATION_ID"  |"PLACEKEY"           |"LOCATION_NAME"           |"TOP_CATEGORY"                               |"SUB_CATEGORY"                                      |"LATITUDE"  |"LONGITUDE"  |"FIRST_NAME"  |"LAST_NAME"  |"E_MAIL"                    |"PHONE_NUMBER"  |"CHILDREN_COUNT"  |"GENDER"  |"MARITAL_STATUS"    |"MENU_ITEM_ID"  |"MENU_ITEM_NAME"      |"QUANTITY"  |"UNIT_PRICE"  |"PRICE"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |"TOTAL_QUANTITY"  |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|121779928   |86245          |Sydney     |2001           |English               |NULL               |2020-02-14      |1949-09-11       |2020-12-31  |283         |2020-12-31 11:33:37  |329994597          |0              |Peking Truck            |Chinese      |Sydney          |New South Wales  |Australia  |1                 |210             |Amanda                   |Welch                   |10071          |zzy-224@nh3-yc5-st9  |Aerotek                   |Employment Services                          |Employment Placement Agencies                       |-33.864005  |151.206442   |Frances       |Avila        |Frances.Avila@ymail.com     |527-494-9201    |2                 |Female    |Married             |131             |Combo Lo Mein         |1           |13.0000       |13.0000  |22.0000         |NULL                |NULL                     |22.0000        |3                 |
|126976664   |172951         |Sydney     |2060           |English               |NULL               |2022-01-03      |2003-09-13       |2022-02-24  |284         |2022-02-24 18:42:16  |344129158          |0              |Nani's Kitchen          |Indian       |Sydney          |New South Wales  |Australia  |1                 |211             |Cristina                 |Lewis                   |7654           |zzy-222@nh3-xzm-575  |Hostelling International  |Traveler Accommodation                       |All Other Traveler Accommodation                    |-33.627473  |151.284839   |Jayvon        |Bell         |Jayvon.Bell@gmail.com       |602-660-4667    |2                 |Male      |Divorced/Seperated  |145             |Bottled Soda          |1           |3.0000        |3.0000   |101.0000        |NULL                |NULL                     |101.0000       |7                 |
|127621208   |91655          |Sydney     |2020           |English               |NULL               |2020-08-21      |1985-12-29       |2022-03-31  |284         |2022-03-31 08:36:22  |345865027          |0              |Nani's Kitchen          |Indian       |Sydney          |New South Wales  |Australia  |1                 |211             |Cristina                 |Lewis                   |7675           |zzy-222@nh3-y9s-wtv  |Western Union             |Activities Related to Credit Intermediation  |Other Activities Related to Credit Intermediation   |-33.877191  |151.207474   |Terrance      |Wise         |Terrance.Wise@hotmail.com   |183-267-6594    |Undisclosed       |Male      |Undisclosed         |142             |Tandoori Mixed Grill  |1           |18.0000       |18.0000  |18.0000         |NULL                |NULL                     |18.0000        |1                 |
|127518577   |117768         |Sydney     |2055           |English               |NULL               |2021-04-27      |1995-12-04       |2022-03-26  |275         |2022-03-26 18:40:02  |345589836          |0              |Kitakata Ramen Bar      |Ramen        |Sydney          |New South Wales  |Australia  |1                 |202             |Margaret                 |Shaw                    |13536          |zzy-22q@nh3-y9s-xwk  |Qualys                    |Management of Companies and Enterprises      |Corporate, Subsidiary, and Regional Managing Of...  |-33.872703  |151.207697   |Emery         |Page         |Emery.Page@gmail.com        |169-119-7394    |2                 |Male      |Divorced/Seperated  |56              |Ice Tea               |1           |3.0000        |3.0000   |37.5000         |NULL                |NULL                     |37.5000        |3                 |
|139025373   |161180         |Melbourne  |3052           |English               |NULL               |2021-01-03      |1988-03-27       |2022-04-30  |294         |2022-04-30 20:16:28  |376358360          |0              |Tasty Tibs              |Ethiopian    |Melbourne       |Victoria         |Australia  |1                 |220             |Michael                  |Smith                   |11483          |zzy-227@nhx-p7m-fcq  |Aon                       |Management of Companies and Enterprises      |Corporate, Subsidiary, and Regional Managing Of...  |-37.813428  |144.970931   |Paula         |Lin          |Paula.Lin@hotmail.com       |436-073-5556    |2                 |Female    |Married             |91              |Lean Chicken Tibs     |1           |11.0000       |11.0000  |24.0000         |NULL                |NULL                     |24.0000        |2                 |
|123017702   |169995         |Sydney     |2000           |English               |NULL               |2021-03-26      |1961-08-31       |2021-05-22  |285         |2021-05-22 20:17:47  |333374047          |0              |Better Off Bread        |Sandwiches   |Sydney          |New South Wales  |Australia  |1                 |212             |Mary                     |Warren                  |10668          |zzy-225@nh3-y9s-xt9  |Ascend Resort Collection  |Traveler Accommodation                       |Hotels (except Casino Hotels) and Motels            |-33.872635  |151.209213   |Clarissa      |Salas        |Clarissa.Salas@aol.com      |359-740-3269    |0                 |Female    |Single              |152             |Pastrami              |2           |11.0000       |22.0000  |22.0000         |NULL                |NULL                     |22.0000        |2                 |
|136544648   |197258         |Melbourne  |3002           |English               |NULL               |2019-10-21      |1983-10-22       |2021-12-10  |287         |2021-12-10 16:20:04  |369671111          |0              |Smoky BBQ               |BBQ          |Melbourne       |Victoria         |Australia  |1                 |214             |Sandra                   |Jones                   |7920           |zzy-222@nhx-st9-btv  |Burberry                  |Clothing Stores                              |Family Clothing Stores                              |-37.816154  |144.96558    |Georgia       |Baker        |Georgia.Baker@hotmail.com   |961-176-2081    |0                 |Male      |Single              |27              |Spring Mix Salad      |2           |6.0000        |12.0000  |79.0000         |NULL                |NULL                     |79.0000        |6                 |
|340103042   |167796         |Melbourne  |3004           |English               |NULL               |2019-09-01      |1970-09-25       |2022-06-02  |286         |2022-06-02 18:14:28  |579306319          |0              |Freezing Point          |Ice Cream    |Melbourne       |Victoria         |Australia  |1                 |213             |Amber                    |Munoz                   |10090          |zzy-224@nhx-npb-kzz  |MAC Cosmetics             |Health and Personal Care Stores              |Cosmetics, Beauty Supplies, and Perfume Stores      |-37.668997  |144.841016   |Mikayla       |Snyder       |Mikayla.Snyder@hotmail.com  |079-725-9850    |0                 |Female    |Single              |12              |Waffle Cone           |2           |6.0000        |12.0000  |38.0000         |NULL                |NULL                     |38.0000        |8                 |
|123967742   |142986         |Sydney     |2020           |English               |NULL               |2020-09-16      |1945-12-31       |2021-08-09  |275         |2021-08-09 09:36:22  |335975679          |0              |Kitakata Ramen Bar      |Ramen        |Sydney          |New South Wales  |Australia  |1                 |202             |Margaret                 |Shaw                    |7627           |zzy-222@nh2-fzr-yd9  |Daimler Trucks Milperra   |Automobile Dealers                           |New Car Dealers                                     |-33.932858  |150.989539   |Taryn         |James        |Taryn.James@ymail.com       |807-236-5142    |1                 |Female    |Married             |51              |Creamy Chicken Ramen  |2           |17.2500       |34.5000  |34.5000         |NULL                |NULL                     |34.5000        |2                 |
|137154803   |104386         |Melbourne  |3004           |English               |NULL               |2019-02-22      |1945-10-18       |2022-01-18  |295         |2022-01-18 11:47:32  |371303343          |0              |Not the Wurst Hot Dogs  |Hot Dogs     |Melbourne       |Victoria         |Australia  |1                 |221             |Kevin                    |Arnold                  |9329           |zzy-223@nhx-p7m-kvf  |Jacadi                    |Clothing Stores                              |Family Clothing Stores                              |-37.812434  |144.961611   |Esperanza     |Dyer         |Esperanza.Dyer@ymail.com    |474-160-1130    |0                 |Male      |Single              |101             |New York Dog          |1           |8.0000        |8.0000   |17.0000         |NULL                |NULL                     |17.0000        |2                 |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [97]:
# assuming you have a DataFrame called `orders` with columns `customer_id` and `order_ts`
window_spec = Window.partitionBy('customer_id').orderBy(F.col('order_ts').desc())

orders_with_rank = combined_df.withColumn('rank', F.rank().over(window_spec))

max_order_ts = orders_with_rank.filter(F.col('rank') == 1).select('customer_id', 'order_ts').to_pandas()
max_order_ts =max_order_ts.drop_duplicates()
second_max_order_ts = orders_with_rank.filter(F.col('rank') == 2).select('customer_id', 'order_ts').to_pandas()
second_max_order_ts =second_max_order_ts.drop_duplicates()

In [120]:
second_max_order_ts=second_max_order_ts.rename(columns={'ORDER_TS':'2ndMax_Order_TS'})
max_order_ts =max_order_ts.rename(columns={'ORDER_TS':'Max_Order_TS'})

In [100]:
loyal_orders_df=combined_df.to_pandas()

In [103]:
loyal_orders_df.value_counts('CUSTOMER_ID').min()

25

In [153]:
temp_df=loyal_orders_df.merge(second_max_order_ts,on='CUSTOMER_ID',how='inner')

In [154]:
last_purchase_gone=temp_df[temp_df['ORDER_TS']<=temp_df['2ndMax_Order_TS']]

In [117]:
#Recency
recency = last_purchase_gone.groupby('CUSTOMER_ID')['ORDER_TS'].max().reset_index()
recency['RECENCY'] = (pd.Timestamp('2022-11-01 22:42:53') - recency['ORDER_TS']).dt.days

# Frequency
frequency = last_purchase_gone.groupby('CUSTOMER_ID')['ORDER_ID'].nunique().reset_index().rename(columns={'ORDER_ID': 'frequency'})

# Monetary
monetary = last_purchase_gone.groupby('CUSTOMER_ID')['ORDER_TOTAL'].sum().reset_index().rename(columns={'ORDER_TOTAL': 'monetary'})

# Merge into RFM table
RFM_table = recency.merge(right=frequency, how='inner', on='CUSTOMER_ID')
RFM_table = RFM_table.merge(right=monetary, how='inner', on='CUSTOMER_ID')

In [166]:
temp_df = last_purchase_gone.sort_values(['CUSTOMER_ID', 'ORDER_TS'])
# Calculate the time difference between consecutive 'ORDER_TS' values for each customer
temp_df['time_diff'] = temp_df.groupby('CUSTOMER_ID')['ORDER_TS'].diff().dt.days

# Calculate the mean time difference for each customer
avg_time_diff = temp_df.groupby('CUSTOMER_ID')['time_diff'].mean().reset_index().rename(columns={'time_diff': 'AVG_TIME_DIFF'})

#Max Days without Purchase
max_days=temp_df.groupby('CUSTOMER_ID')['time_diff'].max().reset_index().rename(columns={'time_diff': 'Max_Days_Without_Purchase'})

#Min Days without Purchase
min_days=temp_df.groupby('CUSTOMER_ID')['time_diff'].min().reset_index().rename(columns={'time_diff': 'Min_Days_Without_Purchase'})

In [167]:
temp_df=RFM_table.merge(right=max_order_ts,how='inner',on='CUSTOMER_ID')
temp_df=temp_df.merge(right=avg_time_diff,how='inner',on='CUSTOMER_ID')
temp_df=temp_df.merge(right=max_days,how='inner',on='CUSTOMER_ID')
temp_df=temp_df.merge(right=min_days,how='inner',on='CUSTOMER_ID')

In [168]:
temp_df

,CUSTOMER_ID,ORDER_TS,RECENCY,frequency,monetary,Max_Order_TS,AVG_TIME_DIFF,Max_Days_Without_Purchase,Min_Days_Without_Purchase
0,43121,2022-10-01 18:46:22,31,51,2118.50,2022-10-12 09:43:00,17.740000,83.0,0.0
1,43266,2022-09-28 10:34:12,34,56,2279.50,2022-10-06 21:50:40,16.690909,70.0,1.0
2,43388,2022-09-22 21:59:43,40,53,2254.50,2022-10-19 09:58:47,16.961538,74.0,0.0
3,43391,2022-09-27 21:18:00,35,46,1710.25,2022-09-29 13:40:44,20.933333,95.0,1.0
4,43411,2022-09-18 21:46:43,44,53,2188.50,2022-10-07 20:26:21,18.346154,84.0,0.0
...,...,...,...,...,...,...,...,...,...
15212,199837,2022-10-05 12:23:38,27,54,2268.25,2022-10-10 13:11:15,15.094340,72.0,0.0
15213,199841,2022-10-06 11:01:33,26,46,1891.00,2022-10-16 11:31:29,17.711111,68.0,0.0
15214,199870,2022-10-07 20:26:20,25,55,2599.50,2022-10-20 12:14:04,14.685185,95.0,0.0
15215,199892,2022-09-20 22:55:02,41,51,2447.75,2022-10-22 15:18:31,15.540000,63.0,0.0
15216,199933,2022-10-02 21:49:52,30,50,1968.50,2022-10-06 10:17:37,14.816327,94.0,0.0

In [169]:
temp_df['Days_To_Next_Order']=(temp_df['Max_Order_TS']-temp_df['ORDER_TS']).dt.days

In [170]:
temp_df['Days_To_Next_Order'].describe()

count    15217.000000
mean        13.051193
std         12.504497
min          0.000000
25%          4.000000
50%         10.000000
75%         18.000000
max        108.000000
Name: Days_To_Next_Order, dtype: float64

In [179]:
X_train

,CUSTOMER_ID,RECENCY,frequency,monetary,AVG_TIME_DIFF,Max_Days_Without_Purchase,Min_Days_Without_Purchase
13114,180216,55,41,1421.75,23.475000,102.0,1.0
3328,87631,16,57,2121.50,17.089286,115.0,1.0
8600,137583,11,47,1700.75,17.108696,91.0,0.0
14451,192928,1,52,1683.00,17.372549,64.0,0.0
4021,94413,25,64,2731.00,14.587302,118.0,0.0
...,...,...,...,...,...,...,...
6017,113475,22,49,1858.25,16.354167,78.0,0.0
709,56973,104,42,1511.00,21.292683,94.0,1.0
10679,157738,7,47,2064.50,20.500000,122.0,1.0
8366,135513,48,37,1756.50,17.861111,68.0,0.0
1146,65213,11,73,3412.50,13.638889,66.0,0.0

In [175]:
temp_df['NextPurchaseDayRange'] = 1
temp_df.loc[temp_df['Days_To_Next_Order']<=14,'NextPurchaseDayRange'] = 0

In [176]:
# Define Model Inputs (X) and Output (y)
X = temp_df.drop(['Days_To_Next_Order','NextPurchaseDayRange','Max_Order_TS','ORDER_TS'], axis =1)
y = temp_df["NextPurchaseDayRange"]

# Split both Inputs (X) and Ouput (y) into training set (70%) and testing set (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)

In [177]:
#Build XGBoost Model
xgb = XGBClassifier(n_estimators = 20, learning_rate = 0.1, eval_metric='logloss')
xgb.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='logloss',
              feature_types=None, gamma=None, gpu_id=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=0.1, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_estimators=20, n_jobs=None,
              num_parallel_tree=None, predictor=None, random_state=None, ...)

In [146]:
#Function to show MSE, MAE, r-sq of Classification models
def evaluateClassificationModelPerformance(model):
    #Accuracy
    print('Train Accuracy:',model.score(X_train, y_train),
          '\nTest Accuracy:',model.score(X_test, y_test))

In [178]:
#Evaluate XGBoost Model
evaluateClassificationModelPerformance(xgb)

Train Accuracy: 0.7796451037461272
Test Accuracy: 0.7433201927288655

In [ ]:
Train Accuracy: 0.5550652520890057 
Test Accuracy: 0.5162067455102934

Train Accuracy: 0.5673645667073515 
Test Accuracy: 0.5127025843188787

In [148]:
#Check top 10 features based on feature importance
ft_weights_xgb_clf = pd.DataFrame(xgb.feature_importances_, columns=['is_promoted'], index=X_train.columns)
ft_weights_xgb_clf.sort_values('is_promoted', ascending=False, inplace=True)
ft_weights_xgb_clf.tail(100)

             is_promoted
RECENCY         0.904882
CUSTOMER_ID     0.033462
monetary        0.032506
frequency       0.029150