In [1]:
#Import Python packages
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns
import json
import datetime

# Import Snowflake modules
from snowflake.snowpark import Session
import snowflake.snowpark.functions as F
import snowflake.snowpark.types as T
from snowflake.snowpark import Window

In [2]:
# Get account credentials from a json file
with open("data_scientist_auth.json") as f:
    data = json.load(f)
    username = data["username"]
    password = data["password"]
    account = data["account"]

# Specify connection parameters
connection_parameters = {
    "account": account,
    "user": username,
    "password": password,
    "role": "TASTY_BI",
    "warehouse": "TASTY_BI_WH",
    "database": "frostbyte_tasty_bytes",
    "schema": "analytics",
}

# Create Snowpark session
session = Session.builder.configs(connection_parameters).create()

In [3]:
#Function to remove and rename columns after inner join
def remove_dup_join_col(df):
    # capitalise all columns
    for col in df.columns:
        df = df.withColumnRenamed(col, col.upper())
    
    # get list of renamable columns for left and right join
    left_dup_col = [col_name for col_name in df.columns if col_name.startswith('L_')]
    right_dup_col = [col_name for col_name in df.columns if col_name.startswith('R_')]
    old_columns = df.columns
    
    # rename the list with the most number of renamable columns
    # drop the list of columns with less number of renamable columns
    if len(left_dup_col)>len(right_dup_col):
        columns_rename=left_dup_col
        df= df.drop(*right_dup_col)
    else:
        columns_rename=right_dup_col
        df= df.drop(*left_dup_col)
    
    for old_column in old_columns:
        if old_column in columns_rename:
            # get string to remove
            string_to_replace = columns_rename[0][:7]
            # replace starting string
            new_column = old_column.replace(string_to_replace, "")
            df = df.withColumnRenamed(old_column, new_column)
    
    return df

In [4]:
orders_df = session.table("tran_anal")

In [5]:
orders_df.show()

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ORDER_ID"  |"TRUCK_ID"  |"LOCATION_ID"  |"DISCOUNT_ID"  |"SHIFT_ID"  |"SHIFT_START_TIME"  |"SHIFT_END_TIME"  |"ORDER_CHANNEL"  |"ORDER_TS"           |"SERVED_TS"  |"ORDER_CURRENCY"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"  |"COUNTRY"  |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"  |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"                  |"PHONE_NUMBER"  |"DTNO"  |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|120162899   |275         |13820.0        |NULL           |282714      |08:00:00            |14:00:00          |NULL             |2020-02-08 11:10:02  |NULL         |USD               |69.0000         |NULL                |NULL                     |69.0000        |99833          |Curtis        |Maldonado    |Sydney  |Australia  |2055           |English               |Female    |NULL               |Married           |1                 |2019-06-30      |1964-07-10       |Curtis.Maldonado@aol.com  |579-971-5554    |49      |
|120368745   |285         |7753.0         |NULL           |283013      |16:00:00            |23:00:00          |NULL             |2020-03-28 20:20:37  |NULL         |USD               |49.0000         |NULL                |NULL                     |49.0000        |99833          |Curtis        |Maldonado    |Sydney  |Australia  |2055           |English               |Female    |NULL               |Married           |1                 |2019-06-30      |1964-07-10       |Curtis.Maldonado@aol.com  |579-971-5554    |38      |
|120524421   |279         |7715.0         |NULL           |283238      |08:00:00            |14:00:00          |NULL             |2020-05-05 12:39:11  |NULL         |USD               |49.0000         |NULL                |NULL                     |49.0000        |99833          |Curtis        |Maldonado    |Sydney  |Australia  |2055           |English               |Female    |NULL               |Married           |1                 |2019-06-30      |1964-07-10       |Curtis.Maldonado@aol.com  |579-971-5554    |5       |
|120546104   |279         |12682.0        |NULL           |283269      |15:00:00            |22:00:00          |NULL             |2020-05-10 18:33:08  |NULL         |USD               |57.0000         |NULL                |NULL                     |57.0000        |99833          |Curtis        |Maldonado    |Sydney  |Australia  |2055           |English               |Female    |NULL               |Married           |1                 |2019-06-30      |1964-07-10       |Curtis.Maldonado@aol.com  |579-971-5554    |3       |
|120559947   |285         |7663.0         |NULL           |283289      |15:00:00            |22:00:00          |NULL             |2020-05-13 18:04:25  |NULL         |USD               |77.0000         |NULL                |NULL                     |77.0000        |99833          |Curtis        |Maldonado    |Sydney  |Australia  |2055           |English               |Female    |NULL               |Married           |1                 |2019-06-30      |1964-07-10       |Curtis.Maldonado@aol.com  |579-971-5554    |36      |
|120708429   |279         |7664.0         |NULL           |283503      |16:00:00            |23:00:00          |NULL             |2020-06-18 21:34:51  |NULL         |USD               |20.0000         |NULL                |NULL                     |20.0000        |99833          |Curtis        |Maldonado    |Sydney  |Australia  |2055           |English               |Female    |NULL               |Married           |1                 |2019-06-30      |1964-07-10       |Curtis.Maldonado@aol.com  |579-971-5554    |72      |
|121009760   |279         |10081.0        |NULL           |283934      |08:00:00            |14:00:00          |NULL             |2020-08-29 11:39:31  |NULL         |USD               |107.0000        |NULL                |NULL                     |107.0000       |99833          |Curtis        |Maldonado    |Sydney  |Australia  |2055           |English               |Female    |NULL               |Married           |1                 |2019-06-30      |1964-07-10       |Curtis.Maldonado@aol.com  |579-971-5554    |12      |
|121062179   |285         |7749.0         |NULL           |284009      |16:00:00            |23:00:00          |NULL             |2020-09-10 16:35:14  |NULL         |USD               |11.0000         |NULL                |NULL                     |11.0000        |99833          |Curtis        |Maldonado    |Sydney  |Australia  |2055           |English               |Female    |NULL               |Married           |1                 |2019-06-30      |1964-07-10       |Curtis.Maldonado@aol.com  |579-971-5554    |55      |
|121385523   |275         |11141.0        |NULL           |284473      |15:30:00            |22:30:00          |NULL             |2020-11-04 18:48:10  |NULL         |USD               |75.0000         |NULL                |NULL                     |75.0000        |99833          |Curtis        |Maldonado    |Sydney  |Australia  |2055           |English               |Female    |NULL               |Married           |1                 |2019-06-30      |1964-07-10       |Curtis.Maldonado@aol.com  |579-971-5554    |92      |
|122029345   |283         |7686.0         |NULL           |285396      |08:30:00            |14:30:00          |NULL             |2021-02-04 10:42:05  |NULL         |USD               |48.0000         |NULL                |NULL                     |48.0000        |99833          |Curtis        |Maldonado    |Sydney  |Australia  |2055           |English               |Female    |NULL               |Married           |1                 |2019-06-30      |1964-07-10       |Curtis.Maldonado@aol.com  |579-971-5554    |16      |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [6]:
orders_df = orders_df.filter(F.col("COUNTRY") == "United States")

orders_df.show()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ORDER_ID"  |"TRUCK_ID"  |"LOCATION_ID"  |"DISCOUNT_ID"  |"SHIFT_ID"  |"SHIFT_START_TIME"  |"SHIFT_END_TIME"  |"ORDER_CHANNEL"  |"ORDER_TS"           |"SERVED_TS"  |"ORDER_CURRENCY"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"         |"COUNTRY"      |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"  |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"                  |"PHONE_NUMBER"  |"DTNO"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|436044383   |73          |15201.0        |NULL           |200508585   |15:00:00            |22:00:00          |NULL             |2020-01-29 16:43:00  |NULL         |USD               |38.0000         |NULL                |NULL                     |38.0000        |17725          |Marlene       |Cuevas       |New York City  |United States  |10467          |English               |Female    |NULL               |Married           |1                 |2019-12-12      |1947-06-09       |Marlene.Cuevas@ymail.com  |652-718-4202    |97      |
|436328069   |73          |5212.0         |NULL           |200508973   |15:30:00            |22:30:00          |NULL             |2020-05-05 18:17:15  |NULL         |USD               |65.0000         |NULL                |NULL                     |65.0000        |17725          |Marlene       |Cuevas       |New York City  |United States  |10467          |English               |Female    |NULL               |Married           |1                 |2019-12-12      |1947-06-09       |Marlene.Cuevas@ymail.com  |652-718-4202    |64      |
|436514358   |67          |4072.0         |NULL           |200509226   |08:30:00            |14:30:00          |NULL             |2020-07-08 12:19:12  |NULL         |USD               |19.0000         |NULL                |NULL                     |19.0000        |17725          |Marlene       |Cuevas       |New York City  |United States  |10467          |English               |Female    |NULL               |Married           |1                 |2019-12-12      |1947-06-09       |Marlene.Cuevas@ymail.com  |652-718-4202    |19      |
|436571360   |73          |3726.0         |NULL           |200509304   |08:00:00            |14:00:00          |NULL             |2020-07-27 12:41:05  |NULL         |USD               |55.0000         |NULL                |NULL                     |55.0000        |17725          |Marlene       |Cuevas       |New York City  |United States  |10467          |English               |Female    |NULL               |Married           |1                 |2019-12-12      |1947-06-09       |Marlene.Cuevas@ymail.com  |652-718-4202    |67      |
|436772181   |73          |2068.0         |NULL           |200509578   |08:30:00            |14:30:00          |NULL             |2020-10-02 10:49:55  |NULL         |USD               |31.0000         |NULL                |NULL                     |31.0000        |17725          |Marlene       |Cuevas       |New York City  |United States  |10467          |English               |Female    |NULL               |Married           |1                 |2019-12-12      |1947-06-09       |Marlene.Cuevas@ymail.com  |652-718-4202    |2       |
|436784591   |73          |15211.0        |NULL           |200509595   |15:00:00            |22:00:00          |NULL             |2020-10-04 18:00:59  |NULL         |USD               |13.0000         |NULL                |NULL                     |13.0000        |17725          |Marlene       |Cuevas       |New York City  |United States  |10467          |English               |Female    |NULL               |Married           |1                 |2019-12-12      |1947-06-09       |Marlene.Cuevas@ymail.com  |652-718-4202    |35      |
|436989725   |73          |1831.0         |NULL           |200509874   |08:00:00            |14:00:00          |NULL             |2020-11-08 11:56:23  |NULL         |USD               |13.0000         |NULL                |NULL                     |13.0000        |17725          |Marlene       |Cuevas       |New York City  |United States  |10467          |English               |Female    |NULL               |Married           |1                 |2019-12-12      |1947-06-09       |Marlene.Cuevas@ymail.com  |652-718-4202    |13      |
|437067999   |74          |2787.0         |NULL           |200509981   |15:30:00            |22:30:00          |NULL             |2020-11-21 18:23:16  |NULL         |USD               |30.0000         |NULL                |NULL                     |30.0000        |17725          |Marlene       |Cuevas       |New York City  |United States  |10467          |English               |Female    |NULL               |Married           |1                 |2019-12-12      |1947-06-09       |Marlene.Cuevas@ymail.com  |652-718-4202    |6       |
|437099946   |71          |1906.0         |NULL           |200510025   |16:00:00            |23:00:00          |NULL             |2020-11-27 19:15:41  |NULL         |USD               |87.0000         |NULL                |NULL                     |87.0000        |17725          |Marlene       |Cuevas       |New York City  |United States  |10467          |English               |Female    |NULL               |Married           |1                 |2019-12-12      |1947-06-09       |Marlene.Cuevas@ymail.com  |652-718-4202    |49      |
|437452150   |67          |13098.0        |NULL           |200510502   |08:00:00            |14:00:00          |NULL             |2021-01-15 11:24:14  |NULL         |USD               |7.0000          |NULL                |NULL                     |7.0000         |17725          |Marlene       |Cuevas       |New York City  |United States  |10467          |English               |Female    |NULL               |Married           |1                 |2019-12-12      |1947-06-09       |Marlene.Cuevas@ymail.com  |652-718-4202    |26      |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [7]:
orders_df = orders_df.with_column("YEAR", F.year("ORDER_TS"))
orders_df = orders_df.with_column("MONTH", F.month("ORDER_TS"))
orders_df = orders_df.with_column("YEAR_MONTH", F.concat(F.col("YEAR"), F.col("MONTH")))
orders_df.show()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ORDER_ID"  |"TRUCK_ID"  |"LOCATION_ID"  |"DISCOUNT_ID"  |"SHIFT_ID"  |"SHIFT_START_TIME"  |"SHIFT_END_TIME"  |"ORDER_CHANNEL"  |"ORDER_TS"           |"SERVED_TS"  |"ORDER_CURRENCY"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"   |"COUNTRY"      |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"     |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"                 |"PHONE_NUMBER"  |"DTNO"  |"YEAR"  |"MONTH"  |"YEAR_MONTH"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|452737773   |33          |2559.0         |NULL           |200546897   |15:30:00            |22:30:00          |NULL             |2019-10-11 21:48:36  |NULL         |USD               |12.5000         |NULL                |NULL                     |12.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |15      |2019    |10       |201910        |
|452743140   |33          |9634.0         |NULL           |200546926   |08:00:00            |14:00:00          |NULL             |2019-10-26 13:33:53  |NULL         |USD               |83.5000         |NULL                |NULL                     |83.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |6       |2019    |10       |201910        |
|452745806   |33          |15014.0        |NULL           |200546939   |16:00:00            |23:00:00          |NULL             |2019-11-01 20:14:52  |NULL         |USD               |35.0000         |NULL                |NULL                     |35.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |22      |2019    |11       |201911        |
|452754365   |33          |1677.0         |NULL           |200546982   |09:00:00            |15:00:00          |NULL             |2019-11-23 12:55:43  |NULL         |USD               |34.5000         |NULL                |NULL                     |34.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |55      |2019    |11       |201911        |
|452778989   |33          |3889.0         |NULL           |200547127   |15:00:00            |22:00:00          |NULL             |2020-01-17 17:21:58  |NULL         |USD               |10.0000         |NULL                |NULL                     |10.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |3       |2020    |1        |20201         |
|452780896   |33          |1081.0         |NULL           |200547139   |15:00:00            |22:00:00          |NULL             |2020-01-20 19:44:39  |NULL         |USD               |12.5000         |NULL                |NULL                     |12.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |54      |2020    |1        |20201         |
|452814309   |31          |3893.0         |NULL           |200547353   |15:00:00            |22:00:00          |NULL             |2020-03-14 17:37:37  |NULL         |USD               |6.0000          |NULL                |NULL                     |6.0000         |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |8       |2020    |3        |20203         |
|452821097   |33          |8405.0         |NULL           |200547387   |15:00:00            |22:00:00          |NULL             |2020-03-22 21:46:19  |NULL         |USD               |12.5000         |NULL                |NULL                     |12.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |8       |2020    |3        |20203         |
|452825670   |33          |15466.0        |NULL           |200547418   |09:00:00            |15:00:00          |NULL             |2020-03-30 13:55:07  |NULL         |USD               |25.0000         |NULL                |NULL                     |25.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |20      |2020    |3        |20203         |
|452846761   |45          |1328.0         |NULL           |200547537   |15:00:00            |22:00:00          |NULL             |2020-04-19 15:56:13  |NULL         |USD               |44.0000         |NULL                |NULL                     |44.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |6       |2020    |4        |20204         |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [8]:
#Get last purchase date as a variable
lastdate=orders_df.select(F.max('ORDER_TS')).first()[0]

# get AGE variable
orders_df = orders_df.withColumn("AGE", F.datediff('year', F.col("BIRTHDAY_DATE"),F.lit(lastdate)))
orders_df.show()

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ORDER_ID"  |"TRUCK_ID"  |"LOCATION_ID"  |"DISCOUNT_ID"  |"SHIFT_ID"  |"SHIFT_START_TIME"  |"SHIFT_END_TIME"  |"ORDER_CHANNEL"  |"ORDER_TS"           |"SERVED_TS"  |"ORDER_CURRENCY"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"   |"COUNTRY"      |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"     |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"                 |"PHONE_NUMBER"  |"DTNO"  |"YEAR"  |"MONTH"  |"YEAR_MONTH"  |"AGE"  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|452737773   |33          |2559.0         |NULL           |200546897   |15:30:00            |22:30:00          |NULL             |2019-10-11 21:48:36  |NULL         |USD               |12.5000         |NULL                |NULL                     |12.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |15      |2019    |10       |201910        |59     |
|452743140   |33          |9634.0         |NULL           |200546926   |08:00:00            |14:00:00          |NULL             |2019-10-26 13:33:53  |NULL         |USD               |83.5000         |NULL                |NULL                     |83.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |6       |2019    |10       |201910        |59     |
|452745806   |33          |15014.0        |NULL           |200546939   |16:00:00            |23:00:00          |NULL             |2019-11-01 20:14:52  |NULL         |USD               |35.0000         |NULL                |NULL                     |35.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |22      |2019    |11       |201911        |59     |
|452754365   |33          |1677.0         |NULL           |200546982   |09:00:00            |15:00:00          |NULL             |2019-11-23 12:55:43  |NULL         |USD               |34.5000         |NULL                |NULL                     |34.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |55      |2019    |11       |201911        |59     |
|452778989   |33          |3889.0         |NULL           |200547127   |15:00:00            |22:00:00          |NULL             |2020-01-17 17:21:58  |NULL         |USD               |10.0000         |NULL                |NULL                     |10.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |3       |2020    |1        |20201         |59     |
|452780896   |33          |1081.0         |NULL           |200547139   |15:00:00            |22:00:00          |NULL             |2020-01-20 19:44:39  |NULL         |USD               |12.5000         |NULL                |NULL                     |12.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |54      |2020    |1        |20201         |59     |
|452814309   |31          |3893.0         |NULL           |200547353   |15:00:00            |22:00:00          |NULL             |2020-03-14 17:37:37  |NULL         |USD               |6.0000          |NULL                |NULL                     |6.0000         |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |8       |2020    |3        |20203         |59     |
|452821097   |33          |8405.0         |NULL           |200547387   |15:00:00            |22:00:00          |NULL             |2020-03-22 21:46:19  |NULL         |USD               |12.5000         |NULL                |NULL                     |12.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |8       |2020    |3        |20203         |59     |
|452825670   |33          |15466.0        |NULL           |200547418   |09:00:00            |15:00:00          |NULL             |2020-03-30 13:55:07  |NULL         |USD               |25.0000         |NULL                |NULL                     |25.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |20      |2020    |3        |20203         |59     |
|452846761   |45          |1328.0         |NULL           |200547537   |15:00:00            |22:00:00          |NULL             |2020-04-19 15:56:13  |NULL         |USD               |44.0000         |NULL                |NULL                     |44.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |6       |2020    |4        |20204         |59     |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [9]:
churn_YN = orders_df.with_column("CHURN", F.iff(F.col("DTNO") > 9, "1", "0"))

churn_YN.show()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ORDER_ID"  |"TRUCK_ID"  |"LOCATION_ID"  |"DISCOUNT_ID"  |"SHIFT_ID"  |"SHIFT_START_TIME"  |"SHIFT_END_TIME"  |"ORDER_CHANNEL"  |"ORDER_TS"           |"SERVED_TS"  |"ORDER_CURRENCY"  |"ORDER_AMOUNT"  |"ORDER_TAX_AMOUNT"  |"ORDER_DISCOUNT_AMOUNT"  |"ORDER_TOTAL"  |"CUSTOMER_ID"  |"FIRST_NAME"  |"LAST_NAME"  |"CITY"   |"COUNTRY"      |"POSTAL_CODE"  |"PREFERRED_LANGUAGE"  |"GENDER"     |"FAVOURITE_BRAND"  |"MARITAL_STATUS"  |"CHILDREN_COUNT"  |"SIGN_UP_DATE"  |"BIRTHDAY_DATE"  |"E_MAIL"                 |"PHONE_NUMBER"  |"DTNO"  |"YEAR"  |"MONTH"  |"YEAR_MONTH"  |"AGE"  |"CHURN"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|452737773   |33          |2559.0         |NULL           |200546897   |15:30:00            |22:30:00          |NULL             |2019-10-11 21:48:36  |NULL         |USD               |12.5000         |NULL                |NULL                     |12.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |15      |2019    |10       |201910        |59     |1        |
|452743140   |33          |9634.0         |NULL           |200546926   |08:00:00            |14:00:00          |NULL             |2019-10-26 13:33:53  |NULL         |USD               |83.5000         |NULL                |NULL                     |83.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |6       |2019    |10       |201910        |59     |0        |
|452745806   |33          |15014.0        |NULL           |200546939   |16:00:00            |23:00:00          |NULL             |2019-11-01 20:14:52  |NULL         |USD               |35.0000         |NULL                |NULL                     |35.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |22      |2019    |11       |201911        |59     |1        |
|452754365   |33          |1677.0         |NULL           |200546982   |09:00:00            |15:00:00          |NULL             |2019-11-23 12:55:43  |NULL         |USD               |34.5000         |NULL                |NULL                     |34.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |55      |2019    |11       |201911        |59     |1        |
|452778989   |33          |3889.0         |NULL           |200547127   |15:00:00            |22:00:00          |NULL             |2020-01-17 17:21:58  |NULL         |USD               |10.0000         |NULL                |NULL                     |10.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |3       |2020    |1        |20201         |59     |0        |
|452780896   |33          |1081.0         |NULL           |200547139   |15:00:00            |22:00:00          |NULL             |2020-01-20 19:44:39  |NULL         |USD               |12.5000         |NULL                |NULL                     |12.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |54      |2020    |1        |20201         |59     |1        |
|452814309   |31          |3893.0         |NULL           |200547353   |15:00:00            |22:00:00          |NULL             |2020-03-14 17:37:37  |NULL         |USD               |6.0000          |NULL                |NULL                     |6.0000         |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |8       |2020    |3        |20203         |59     |0        |
|452821097   |33          |8405.0         |NULL           |200547387   |15:00:00            |22:00:00          |NULL             |2020-03-22 21:46:19  |NULL         |USD               |12.5000         |NULL                |NULL                     |12.5000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |8       |2020    |3        |20203         |59     |0        |
|452825670   |33          |15466.0        |NULL           |200547418   |09:00:00            |15:00:00          |NULL             |2020-03-30 13:55:07  |NULL         |USD               |25.0000         |NULL                |NULL                     |25.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |20      |2020    |3        |20203         |59     |1        |
|452846761   |45          |1328.0         |NULL           |200547537   |15:00:00            |22:00:00          |NULL             |2020-04-19 15:56:13  |NULL         |USD               |44.0000         |NULL                |NULL                     |44.0000        |81902          |Amelia        |Reynolds     |Seattle  |United States  |98185          |English               |Undisclosed  |NULL               |Married           |2                 |2020-04-10      |1963-01-25       |Amelia.Reynolds@aol.com  |903-030-2107    |6       |2020    |4        |20204         |59     |0        |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [10]:
SUM_SALES_YM_CITY = orders_df.groupBy(F.col("YEAR"),F.col("MONTH"), F.col("CITY")).agg(F.sum('"ORDER_TOTAL"'))
SUM_SALES_YM_CITY.show()

---------------------------------------------------------
|"YEAR"  |"MONTH"  |"CITY"         |"SUM(ORDER_TOTAL)"  |
---------------------------------------------------------
|2021    |10       |San Mateo      |580027.0000         |
|2019    |12       |Denver         |194667.0000         |
|2022    |5        |Denver         |932059.2500         |
|2021    |3        |New York City  |536115.5000         |
|2022    |9        |Seattle        |694222.7500         |
|2022    |10       |San Mateo      |490403.5000         |
|2022    |8        |New York City  |985278.7500         |
|2019    |6        |San Mateo      |32390.0000          |
|2021    |12       |Denver         |833850.5000         |
|2020    |10       |San Mateo      |279131.5000         |
---------------------------------------------------------

In [11]:
churn_rate_YM_CITY = churn_YN.group_by(F.col("YEAR"), F.col("MONTH"), F.col("CITY")).agg(F.sum("CHURN")/F.count("CHURN"))

churn_to_sales_CITY = churn_rate_YM_CITY.join(SUM_SALES_YM_CITY, (churn_rate_YM_CITY["YEAR"] == SUM_SALES_YM_CITY["YEAR"]) & (churn_rate_YM_CITY["MONTH"] == SUM_SALES_YM_CITY["MONTH"]) & (churn_rate_YM_CITY["CITY"] == SUM_SALES_YM_CITY["CITY"]), how="inner")
churn_to_sales_CITY = remove_dup_join_col(churn_to_sales_CITY)
churn_to_sales_CITY.show()

----------------------------------------------------------------------------------------------
|"DIVIDE(SUM(CHURN), COUNT(CHURN))"  |"YEAR"  |"MONTH"  |"CITY"         |"SUM(ORDER_TOTAL)"  |
----------------------------------------------------------------------------------------------
|0.5161159125571937                  |2021    |12       |Denver         |833850.5000         |
|0.49650633734156646                 |2022    |8        |New York City  |985278.7500         |
|0.9607376561570494                  |2019    |6        |San Mateo      |32390.0000          |
|0.8277453091356506                  |2020    |11       |San Mateo      |250519.0000         |
|0.6304780276086563                  |2021    |12       |San Mateo      |640553.0000         |
|0.2653277464720898                  |2022    |10       |New York City  |828738.2500         |
|0.6858797834963442                  |2020    |11       |Denver         |451505.0000         |
|0.4814881623449831                  |2022    |3        |Boston         |848422.0000         |
|0.9252130009466709                  |2020    |1        |San Mateo      |88938.0000          |
|0.5239694656488549                  |2021    |10       |New York City  |773964.5000         |
----------------------------------------------------------------------------------------------

In [12]:
churn_members = churn_YN.group_by(F.col("YEAR"), F.col("MONTH"), F.col("CITY")).agg(F.count_distinct('CUSTOMER_ID'))

churn_to_sales_CITY = churn_to_sales_CITY.join(churn_members, (churn_members["YEAR"] == churn_to_sales_CITY["YEAR"]) & (churn_members["MONTH"] == churn_to_sales_CITY["MONTH"]) & (churn_members["CITY"] == churn_to_sales_CITY["CITY"]), how="inner")

churn_to_sales_new = remove_dup_join_col(churn_to_sales_CITY)
churn_to_sales_new.show()

------------------------------------------------------------------------------------------------------------------------------
|"DIVIDE(SUM(CHURN), COUNT(CHURN))"  |"SUM(ORDER_TOTAL)"  |"YEAR"  |"MONTH"  |"CITY"         |"COUNT(DISTINCT CUSTOMER_ID)"  |
------------------------------------------------------------------------------------------------------------------------------
|0.5161159125571937                  |833850.5000         |2021    |12       |Denver         |8172                           |
|0.49650633734156646                 |985278.7500         |2022    |8        |New York City  |9296                           |
|0.9607376561570494                  |32390.0000          |2019    |6        |San Mateo      |1554                           |
|0.8277453091356506                  |250519.0000         |2020    |11       |San Mateo      |4932                           |
|0.6304780276086563                  |640553.0000         |2021    |12       |San Mateo      |8498                           |
|0.6858797834963442                  |451505.0000         |2020    |11       |Denver         |6280                           |
|0.4814881623449831                  |848422.0000         |2022    |3        |Boston         |8506                           |
|0.2653277464720898                  |828738.2500         |2022    |10       |New York City  |8257                           |
|0.9252130009466709                  |88938.0000          |2020    |1        |San Mateo      |2779                           |
|0.5417961633265459                  |785945.7500         |2021    |11       |Denver         |8028                           |
------------------------------------------------------------------------------------------------------------------------------

In [13]:
member_age = churn_YN.group_by(F.col("YEAR"), F.col("MONTH"), F.col("CITY")).agg(F.avg("AGE"))

churn_to_sales_new = churn_to_sales_new.join(member_age, (member_age["YEAR"] == churn_to_sales_new["YEAR"]) & (member_age["MONTH"] == churn_to_sales_new["MONTH"]) & (member_age["CITY"] == churn_to_sales_new["CITY"]), how="inner")

churn_to_sales_new = remove_dup_join_col(churn_to_sales_new)
churn_to_sales_new.show()

-------------------------------------------------------------------------------------------------------------------------------------------
|"DIVIDE(SUM(CHURN), COUNT(CHURN))"  |"SUM(ORDER_TOTAL)"  |"COUNT(DISTINCT CUSTOMER_ID)"  |"YEAR"  |"MONTH"  |"CITY"         |"AVG(AGE)"  |
-------------------------------------------------------------------------------------------------------------------------------------------
|0.4690076466316374                  |932059.2500         |8504                           |2022    |5        |Denver         |49.883506   |
|0.6762660718971398                  |580027.0000         |8204                           |2021    |10       |San Mateo      |49.332590   |
|0.3230442593499918                  |490403.5000         |6546                           |2022    |10       |San Mateo      |49.362486   |
|0.46136521136521136                 |694222.7500         |6657                           |2022    |9        |Seattle        |49.278067   |
|0.6542634580609265                  |536115.5000         |7769                           |2021    |3        |New York City  |49.375713   |
|0.8215978334461747                  |194667.0000         |4388                           |2019    |12       |Denver         |49.613406   |
|0.4814881623449831                  |848422.0000         |8506                           |2022    |3        |Boston         |49.078828   |
|0.6858797834963442                  |451505.0000         |6280                           |2020    |11       |Denver         |49.842560   |
|0.6304780276086563                  |640553.0000         |8498                           |2021    |12       |San Mateo      |49.379167   |
|0.9252130009466709                  |88938.0000          |2779                           |2020    |1        |San Mateo      |48.982644   |
-------------------------------------------------------------------------------------------------------------------------------------------

In [14]:
pred = churn_to_sales_new.withColumnRenamed("DIVIDE(SUM(CHURN), COUNT(CHURN))","CHURN_RATE")
pred = pred.withColumnRenamed("SUM(ORDER_TOTAL)", "SALES")
pred = pred.withColumnRenamed("COUNT(DISTINCT CUSTOMER_ID)", "DISTINCT_CUSTOMER")
pred = pred.withColumnRenamed("AVG(AGE)", "AVERAGE_AGE")

pred.show()

---------------------------------------------------------------------------------------------------------------
|"CHURN_RATE"         |"SALES"       |"DISTINCT_CUSTOMER"  |"YEAR"  |"MONTH"  |"CITY"         |"AVERAGE_AGE"  |
---------------------------------------------------------------------------------------------------------------
|0.5509103169251517   |686160.0000   |7699                 |2022    |3        |Denver         |49.570649      |
|0.4457274826789838   |1028289.7500  |8751                 |2022    |8        |Boston         |49.173171      |
|0.5743677988927128   |476266.0000   |6224                 |2021    |5        |Seattle        |49.242631      |
|0.5766390009898729   |481152.0000   |6160                 |2021    |8        |Seattle        |49.105840      |
|0.45185995623632386  |778045.5000   |6854                 |2022    |8        |Seattle        |49.427217      |
|0.48135843484680696  |874321.7500   |8507                 |2022    |4        |Boston         |49.191722      |
|0.6663455362877329   |323942.0000   |5312                 |2020    |8        |Seattle        |49.313851      |
|0.6207528441627854   |495825.0000   |7384                 |2021    |2        |New York City  |49.724364      |
|0.7148904382470119   |519330.0000   |7136                 |2020    |10       |New York City  |49.923307      |
|0.7344591643616247   |230039.5000   |4512                 |2020    |4        |Seattle        |49.399185      |
---------------------------------------------------------------------------------------------------------------

In [15]:
df = pred.to_pandas()

In [16]:
df

,CHURN_RATE,SALES,DISTINCT_CUSTOMER,YEAR,MONTH,CITY,AVERAGE_AGE
0,0.469008,932059.25,8504,2022,5,Denver,49.883506
1,0.676266,580027.00,8204,2021,10,San Mateo,49.332590
2,0.323044,490403.50,6546,2022,10,San Mateo,49.362486
3,0.461365,694222.75,6657,2022,9,Seattle,49.278067
4,0.654263,536115.50,7769,2021,3,New York City,49.375713
...,...,...,...,...,...,...,...
189,0.687888,475562.00,6829,2020,12,Boston,49.407567
190,0.836338,172150.00,3256,2019,11,Seattle,48.959494
191,0.597644,701537.00,8629,2022,7,San Mateo,49.200627
192,0.761827,315791.00,6092,2020,4,New York City,49.455682
193,0.930334,50654.50,2253,2019,7,San Mateo,49.489650

In [ ]:
df.to_csv("churn_and_sale_data.csv", index=False)

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [18]:
# df = df.drop(axis=1, columns="CITY")
# df

In [27]:
check = df.loc[df["MONTH"]==9]
check = check.loc[check["YEAR"]==2022]
check[["CITY", "YEAR", "MONTH", "SALES"]].to_csv("last_month_sales.csv",index=False)

In [91]:
train_x = df.drop(axis=1, columns=["SALES", "YEAR"])
train_y = df["SALES"]

X_train, X_test, y_train, y_test = train_test_split(train_x, train_y, test_size=0.3, random_state=10)

In [94]:
from math import sqrt
from sklearn.metrics import mean_squared_error

LR = LinearRegression()
LR.fit(X_train, y_train)

y_fitted = LR.predict(X_train)
print(sqrt(mean_squared_error(y_fitted, y_train)), '(Train RMSE)') # the lower the better
print(LR.score(X_train, y_train), '(Train R^2 Value)') # higher better

69948.93045674295 (Train RMSE)
0.9255714867910557 (Train R^2 Value)

In [95]:
y_fitted2 = LR.predict(X_test)
print(sqrt(mean_squared_error(y_fitted2, y_test)), '(Test RMSE)') # the lower the better
print(LR.score(X_test, y_test), '(Test R^2 Value)') # higher better

93039.09927575946 (Test RMSE)
0.8946651190403448 (Test R^2 Value)

In [98]:
# Coefficients of the logistic regression model
coefficients = LR.coef_
coefficients

array([-7.38158153e+05,  7.36264000e+01,  2.58992191e+03,  3.18397288e+04])

In [126]:
X_train

     CHURN_RATE  DISTINCT_CUSTOMER  MONTH AVERAGE_AGE
81     0.649929               7332     12   49.447595
43     0.652713               8122      3   49.492447
58     0.731253               6458      6   49.316196
166    0.648108               6903      2   49.766099
180    0.717455               7243      5   49.346016
..          ...                ...    ...         ...
113    0.925213               2779      1   48.982644
64     0.697872               6243      8   49.142196
15     0.823013               3356     12   49.054042
125    0.847277               4716      7   49.069062
9      0.719696               6447      7   49.912862

[135 rows x 4 columns]

In [125]:
import joblib

joblib.dump(LR, 'nextMonth.jbl')

OSError: [Errno 22] Invalid argument: 'nextMonth.jbl'